

<div class="container pricingContainer">
    <h1>OutSourcingOk Membership Plan</h1>
    <p>No obligations. Change plans anytime. Maximise your Earnings!</p>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="">
          <ul class="price">
            <li class="header">Intro</li>
            <li class="grey">$ 9.99 / year</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>30</strong>Skills </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Unlock Rewards</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>Unlimited</strong> Project Bookmarks </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Custom Cover Photo</li>
            <li class="grey"><a href="#" class="button">Get Started</a></li>
          </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="">
          <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">$ 9.99 / year</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>30</strong>Skills </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Unlock Rewards</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>Unlimited</strong> Project Bookmarks </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Custom Cover Photo</li>
            <li class="grey"><a href="#" class="button">Get Started</a></li>
          </ul>
        </div>

    </div>
    <div class="col-md-2">
        <div class="">
          <ul class="price">
            <li class="header">Plus</li>
            <li class="grey">$ 9.99 / year</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>30</strong>Skills </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Unlock Rewards</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>Unlimited</strong> Project Bookmarks </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Custom Cover Photo</li>
            <li class="grey"><a href="#" class="button">Get Started</a></li>
          </ul>
        </div>

    </div>
    <div class="col-md-2">
        <div class="">
          <ul class="price">
            <li class="header">Prefessional</li>
            <li class="grey">$ 9.99 / year</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>30</strong>Skills </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Unlock Rewards</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>Unlimited</strong> Project Bookmarks </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Custom Cover Photo</li>
            <li class="grey"><a href="#" class="button">Get Started</a></li>
          </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="">
          <ul class="price">
            <li class="header">Premium</li>
            <li class="grey">$ 9.99 / year</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>30</strong>Skills </li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>15</strong> Bids Per Month </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Unlock Rewards</li>
            <li><i class="fa fa-check" aria-hidden="true"></i><strong>Unlimited</strong> Project Bookmarks </li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Custom Cover Photo</li>
            <li class="grey"><a href="#" class="button">Get Started</a></li>
          </ul>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>
