<section ng-controller="ShowcasesController" class="m-negtve-row" style="background: #F0F0F0;" ng-init = "universalData()">

  <!-- banner_section -->
  <div class="banner_section">
    <div class="container">
		<br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
        <!-- <h1 class="title"><span  style="color:#090037">아웃소싱 오케이</span> 쇼케이스</h1> -->
        <h1 class="title"><span  style="color:#090037" translate="OutsourcingOk"></span> <span translate="Showcase"></h1>		
        <!-- <h4 class="subTitle">비즈니스의 완성 · 창의력인 디자인 · 자신만의 아이디어</h4> -->
        <h4 class="subTitle" style="padding-top:15px;"><span translate="CompletionCreativeOwnIdeas"></span></h4>
		<br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs"><br class="hidden-xs">
    </div>
  </div>
  <!-- banner_section_end -->
  <!-- part 2 -->

  <!-- <div class="container"> -->
	<div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">
      <form name="showcaseForm">
        <div class="main_content m-mb-lg">
		  <!-- <h3 class="h3-mobile-font" style="padding-top:10px;"><span class="pull-right"><button class="btn btn-success" ui-sref="showcases.list" style="background:#5f5b56;border-color: #5f5b56;">쇼케이스 홈</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-success" ui-sref="showcases.myshowcases" style="background:#5f5b56;border-color: #5f5b56;">MY 쇼케이스</button></span></h3> -->
      <h3 class="h3-mobile-font"><span class="pull-right"><button class="btn btn-success" ui-sref="showcases.myshowcases" style="background:#5f5b56;border-color: #5f5b56;"><span translate="MyShowcase"></span></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-success" ui-sref="showcases.create" style="background:#5f5b56;border-color: #5f5b56;"><span translate="ShowcaseReg"></span></button></span></h3>


          <h3 class="h3-mobile-font hidden-xs" style="padding-top:50px;color:#734912;"><span class="text-center" translate="Step1File"></span><span class="pull-right" translate="Step2File"></span></h3>
          <h3 class="h3-mobile-font hidden-sm hidden-md hidden-lg" style="padding-top:30px;color:#734912;"><span>쇼케이스 상품등록</span></h3>
          <hr>
          <!-- Step 1 -->
          <div class="row sub_content">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label translate="Step1ofFile"></label>
                <div class="img-selector" ng-if="!imageURL">
                  <label for="upload-file-selector">
                    <input id="upload-file-selector" type="file" nv-file-select uploader="uploader" required>
                    <i class="fa fa-upload" style="color:#d0a620"></i><br>  
                    <b style="color:#d0a620"> <span translate="UploadAttachments"></span></b>
                  </label><br>
                  <label><span translate="ClickHereTouploadImage"></span></label>
                </div>
                <div class="img-selector" ng-if="imageURL">
                  <img src="{{imageURL}}" width="100%"> 
                  <br>
                  <div ng-if="!uploading">
                    <button class="btn btn-block btn-danger" ng-click="cancelUpload()">취소</button>
                  </div>
                </div>
                <div ng-if="uploading">
                    <uib-progressbar class="progress-striped active" max="100" value="item.progress" type="success"><i>{{item.progress || '0'}} %</i></uib-progressbar> 
                </div>
              </div>
              <div class="row hidden-xs">
                <div class="col-md-6 text-justify">
                  <h5><b translate="UploadFileFormates"></b></h5>
                  <span class="text-muted" translate="PGFMinimumImagesize"></span>
                </div>
                <div class="col-md-6 text-justify">
                  <h5><b translate="FileUploadNotPossible"></b></h5>
                  <span class="text-muted" translate="LowResolutionScreenShort"></span>
                </div>
              </div>
            </div>
            <!-- End Step 1 -->
            <!-- Step 2 -->
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="showcaseType"><span translate="Step1of2File"></span></label>
                <select ng-model="showcase.showcaseType" class="form-control">
                  <option ng-repeat="typ in showcaseTypes" value="{{typ.name}}">{{typ.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="title"><span translate="ProductTitle"></span></label>
                <input type="text" class="form-control" id="title" ng-model="showcase.title" placeholder="쇼케이스 상품제목을 작성하십시오" required>
              </div>
              <div class="form-group descrptn">
                <label for="description"><span translate="ProductDetails"></span></label>
                <textarea class="form-control" rows="8" id="description" placeholder="쇼케이스 상품내용을 작성하십시오" ng-model="showcase.description" required></textarea>
              </div>
              <div class="form-group">
                <label for="budget"><span translate="ShowcaseItemsAmount"></span></label>
                <div class="row">
                  <div class="col-xs-5 col-md-5">
                    <select ng-model="showcase.budget.cur" class="form-control" ng-init="showcase.budget.cur = 'KRW'">
                      <option ng-repeat="cur in currency" value="{{cur.name}}">{{cur.name}}</option>
                    </select>
                  </div>
                  <div class="col-xs-7 col-md-7">
                    <input type="number" ng-model="showcase.budget.amount" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-if=""> 
                <select model="showcase.cat"
                  selector
                  options ="categories"
                  label-attr="name"
                  change="selectCat()"
                  placeholder="Select Category of Showcase">
                </select>
              </div>
              <div class="form-group" ng-if="showcase.cat">
                <!-- <select model="showcase.subCat"
                  selector
                  options ="selectedSubCat"
                  label-attr="name"
                  placeholder="Select Subcategory of Showcase">
                </select> -->
                <select ng-model="showcase.subCat" class="form-control">
                  <option ng-repeat="sc in selectedSubCat" value="{{sc.name}}">{{sc.name}}</option>
                </select>
              </div>
            </div>
            <!-- End Step 2 -->
          </div>
          <hr>
          <div class="form-group">
            <div class="row">
              <div class="col-md-10 hidden-xs">
                <span class="text-muted" style="font-size: 12px;" translate="CopyRightIntellectualPropertyRights"></span>
              </div>
              <div class="col-xs-12 col-md-2">
                <button class="btn btn-success" ng-click="createShowCase()" ng-disabled="showcaseForm.$invalid" style="background:#363636;border-color: #363636;color:#efc17c;"><span translate="RegisterShowcase"></span></button> 
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>