<div class="row project-backgroundimage5 hidden-xs">
	<div class="container about-investor-title-setting">
			<br>
			<h3 class="investor-heading p-t-sm" style="font-size:20px;">분야별 프로젝트 검색</h3>
			<h3 class="investor-para">  </h3>
			<br><br>
	</div>
</div>

<section class="container-fulid" ng-controller="BrowseCatCtrl">	
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 p-ml-none p-mr-none m-mt-none" style="margin-top:60px">
		<h3 class="h3-mobile-font"><strong>분야별 프로젝트 검색</strong></h3>
		<div class=" profile_container bordortop_styling p-l-sm p-r-sm p-b-lg mrgn-botm">
			
			<center>
			    <!-- show loader -->
			    <div ng-if="isLoading">
			    	<br><br><br>
			        <img class="img-responsive" src="/modules/core/client/img/landing/outsoucing.png"> <br>
			      <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i> 
			    </div>
			</center>

			<br>
			<div class="input-group">
			  <div class="input-group-btn">
			    <button class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
			  </div>
			  <input type="text" class="form-control" placeholder="분야별 전문기술 찾기" ng-model="search.name">    
			</div>
			
			<div>
				<div ng-repeat="sc in subCatSkills"> 
					<a href="javascript:void(0)" style="text-decoration: none" ng-click="showSkills = !showSkills; getSkills(sc.skills);">
						<h2 class="mobile-view-prjct" style="font-size:15px; color: #35abc8">
							<strong>{{sc.name}}</strong>
						</h2>
					</a>
					<!-- show related skills start -->
					<div class="row" ng-hide="showSkills">
						<center ng-if="!sc.skills.length">  
							<p>No data found</p>
						</center>
						<div class="col-xs-6 col-sm-6 col-md-4 p-t-sm p-mr-none p-ml-sm" ng-repeat="skill in sc.skills | filter: search.name">
							<!--<a ui-sref="projects.browse-category-detail" class="catgry-span">-->
								<a ui-sref="projects.project-list({skills: skill._id})">
									<span class="catgry-span">
										<i class="fa fa-caret-right p-r-sm ctrgy-icon" aria-hidden="true"></i>
										{{skill.name}} 
										<span class="badge">{{skill.count?skill.count:0}}</span>
									</span>
								</a> 
							<br>
						</div>
					</div>
			    <hr>
					<!-- show related skills end -->
				</div>
 
			</div>

		</div>
	</div> 
</section>			