<div>
    <!-- START: Profile HEADER -->
    <div class="hidden-xs" style="padding-top: 3px;">
        <div class="profileheader project-header">
            <ul class="col-md-offset-1 list-inline user_list" style="margin-left: 5rem;">                
				<li><a ui-sref="projects.project-list" class="hedr-menu profile-menu" translate="browseProject"></a></li>
                <li style="margin-left: 30px;"><a ui-sref="contests.contest-list" class="hedr-menu profile-menu" translate="browseContest"></a></li>
                <!-- <li><a href="" class="hedr-menu profile-menu">My Skills</a></li> -->
                <li style="margin-left: 30px;"><a ui-sref="projects.browse-category" class="hedr-menu profile-menu" translate="browseCategories"></a></li>
				<li style="margin-left: 30px;"><a ui-sref="showcases.list" class="hedr-menu profile-menu" translate="showcase"></a></li>
                <!-- <li><a href="" class="hedr-menu profile-menu">Bookmarks</a></li>
                <li><a href="" class="hedr-menu profile-menu">Find Certified</a></li>
                <li><a href="" class="hedr-menu profile-menu">JobCallme</a></li> -->
                <li>
                    <ul class="list-inline text-right tmp-prjct-headr">
                        <li class="project-li"><a ui-sref="contests.contest-post" class="hedr-menu"><button type="button" class="btn post-prjct-btn" translate="startContest"></button></a></li>
                        <!-- <li style="color:#fff">오늘의 환율</li>
                        <li dropdown class="currncy_drpdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">원화 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li><a href="">Separated link</a></li>
                                <li><a href="">One more separated link</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </li>  
            </ul>
        </div>
    </div>
    <!-- End: Profile HEADER -->
    <div ui-view></div>
</div>