<div>
    <!-- START: Profile HEADER -->
    <div class="profileheader p-t-lg">
        <div class="profileheader p-t-md">
            <ul class="col-md-offset-2 list-inline user_list">
                <li><img ng-src="modules/users/client/img/profile/default.png" alt="ali1 hassan" class="header-profile-image" src="modules/users/client/img/profile/default.png"></li>
                <li >View of company Profile</li>
                <li class="edt-profile">View of Company Information</li>
                <li>My Service</li>
                <li>Promote Profile</li>
                <li>My Rewards</li>
                <li>
                    <ul class="list-inline text-right">
                        <li class=""><button type="button" class="btn post-prjct ">Post Project</button></li>
                        <li>Today Rate</li>
                        <li dropdown class="currncy_drpdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">KRN 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li><a href="">Separated link</a></li>
                                <li><a href="">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>  
            </ul>
        </div>
    </div>
    <!-- End: Profile HEADER -->
    <div ui-view></div>
</div>