<div class="row project-backgroundimage5">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">프로젝트 무료등록</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section  class="container-fluid p-ml-none p-mr-none" ng-controller="ProjectsController" ng-init = "universalData()">






 <!--  <div ng-include="vm.search"></div> -->
 <br class="hidden-xs"><br class="hidden-xs">
  <div class="m-ml-none m-mr-none" style="margin-right:1rem; margin-left:0.5rem; margin-top:20px;">
    <form name="projectForm" novalidate>

	  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 p-ml-none p-mr-none col-md-offset-1">
		  <strong class="h3-mobile-font" style="font-size:23px;color:#5f5b56;"><img src="modules/projects/client/img/project_icon6.png"> <span translate="startFreeProject"></span></strong><br><br>
	  </div>

	  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 p-ml-none p-mr-none col-md-offset-1">
		  <strong class="p-ml-none prjct-list-font" style="padding-left: 42px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 아래 <span class="question"><span>1</span></span>&nbsp;번부터 <span class="question"><span>4</span></span>&nbsp;번까지 필수 등록항목이며 아래 번호 순서대로 빠짐없이 등록 작성하셔야 프로젝트 무료 등록이 가능합니다!</strong><br><br>
	  </div>

      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 p-ml-none p-mr-none col-md-offset-1">
     
        <div ng-show="error" class="text-danger">
          <div class="alert alert-danger" ng-bind="error"></div>
        </div>
        <div class="box lg mobile-box" style="background:#fff;">
          <div class="form-group p-t-sm col-md-offset-1 m-mt-sm" style="margin-top:30px">
            <p class="question prjct-list-font">
              <span>1</span>
              <b translate="projectType">.</b>
            </p>
            <select model="project.workRequire" change="selectCat()" selector class="prjct-name"           
                  options="categories"
                  label-attr="name"
                  placeholder="1차 카테고리 선택 후 2차 세부 카테고리를 선택 필수">
            </select>
          </div> 
          <!-- sub menu of work -->
          <br>
          <div ng-show="project.workRequire" class="form-group p-t-sm col-md-offset-1" style="margin-top:10px">
            <select selector class="prjct-name" 
                  change="selectSubCat()"
                  model="project.subcat"
                  options="subCat"
                  label-attr="name"
                  placeholder="2차 세부 카테고리 선택">
            </select>
            <br><br>
          </div> 
          <!-- sub menu of work -->
          <!-- if design is chosen in sub category, show this -->
          <div ng-show="project.workRequire.name =='Design' && project.subcat.name && project.subcat.name!='Design Flash' " class="form-group p-t-sm upcell-contest">
            <div class="row">
              <div class="col-xs-8 prjct-list-font">
                <strong translate="recommendDesign">.</strong><br><br>

                <span translate="withContest"></span> <span ng-click="project.workRequire.name = ''">됩니다.</span>
              </div>
              <div class="col-xs-4">
                <a ui-sref="contests.contest-post"><button class="btn btn-md btn-success btn-cont">무료 컨테스트로 등록하기</button></a>
              </div>
            </div>
          </div>

		  <!-- if design is chosen in sub category, show this -->
          <div ng-show="project.workRequire.name =='디자인, 미디어 및 건축/Design, Media & Architecture' && project.subcat.name && project.subcat.name!='Design Flash' " class="form-group p-t-sm upcell-contest col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-12 prjct-list-font">
                 <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> <strong>회원님의 프로젝트는 콘테스트 무료 등록으로 추천 드립니다.</strong><br><br>

                콘테스트 개최를 통해서 수백 명의 지원자/프리랜서가 제출한 제안서를 의뢰인께서 직접 검토 한 후에 수상자를 선정 하시면 됩니다. <strong style="color:#820923">[프로젝트 등록을 원 할 경우 본 안내문구를 무시하고 <span class="question"><span>1</span></span>&nbsp;번부터 <span class="question"><span>4</span></span>&nbsp;번까지 필수 등록항목을 작성하시면 됩니다.]</strong>
              </div>
              <div class="col-xs-6 text-center" style="padding-top:20px">
                <a ui-sref="contests.contest-post"><button class="btn btn-md btn-success btn-cont">콘테스트 무료등록</button></a>
              </div>
            </div>
          </div>

          <br><br>
          <div class="form-group col-md-offset-1">
            <p class="question prjct-list-font">
              <span>2</span>
              <b translate="projectTitle">.</b>
            </p>

            <p class="sub-heading"><b translate="titlePro">&nbsp;&nbsp;&nbsp;</b> <span popover-title="프로젝트 제목" uib-popover="프로젝트에 프리랜서들이 많이 지원하기 위해서는 가능한 정확한 단어로 필요한 것들을 간단 명료하게 제목을 입력하시기 바랍니다." popover-trigger="'mouseenter'" ><i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:20px;"></i></span></p>
            <input type="text" class="form-control prjct-name"  ng-model="project.name" placeholder="프로젝트 제목을 작성하십시오" name="project_name" required></input>

            <br><br><br>
            <p class="sub-heading top-space prjct-list-font">
              <strong><img src="modules/projects/client/img/project_icon1.png"> <span translate="freelancersLocation"></span> </strong>
              <!-- <span class="bubble">?</span> -->
              <input type="checkbox" name="project.isLocal" ng-click="checkLocal()" class="rdio-pstn-selctr"> [선택사항]
            </p>
            <div class="input-group prjct-name" ng-show = "project.isLocal">
                <input type="text" class="form-control prjct-name" name="location" placeholder="지역검색을 클릭 하십시오 [PC사용시 위치가 정확하지 않을 수 있습니다.]" ng-model="project.location">
                <span class="input-group-btn">
                  <button class="btn btn-info btn-lg btn-zee mobile-btn-location" ng-click="detectMyLocation()" translate="detectLocation"></button>
                </span>
              </div>
          </div> <br><br>

          <div class="form-group col-md-offset-1"> 

            <p class="question prjct-list-font">
              <span>3</span>
              <b translate="projectContent">.</b>
            </p>

            <p class="sub-heading prjct-list-font">
              <b translate="projectExpertise">&nbsp;&nbsp;&nbsp;&nbsp;</b>
              <span popover-title="프로젝트에 요구되는 전문 기술" uib-popover="프로젝트에 요구되는 전문기술를 선택할경우 프로젝트 목록에 표시해 줍니다." popover-trigger="'mouseenter'" ><i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:20px;margin-top:10px;"></i></span>
            </p>

            <select selector class="prjct-name"
                  model="project.skills"
                  options="allProjectSkills"
                  multi="true"
                  label-attr="name"
                  placeholder="프로젝트에 요구되는 전문기술을 선택 바랍니다.">
            </select>

            <br><br><br>
            <p class="sub-heading top-space prjct-list-font">
              <b translate="content"></b>
              <span popover-title="프로젝트 내용" uib-popover="프로젝트에 관한 내용을 자세히 작성해야 합니다. 프리랜서들은 프로젝트 내용을 확인하고 지원 할 수 있습니다. 프로젝트 내용은 최소 300자 이상 작성 바랍니다. 프로젝트 작성이 어려울 경우 아웃소싱오케이 고객문의(support@outsourcingok.com)에 등록하면 담당자가 도와 드립니다." popover-trigger="'mouseenter'" ><i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:20px;margin-top:10px;"></i></span>
            </p>
            <!-- <textarea  class="form-control porjct-desp" rows="6" name="description" ng-model="project.description" placeholder="프로젝트 내용 작성요령을 참조바라며 정확히 작성해야만 프리랜서들로부터 많은 지원을 받을 수 있습니다...[최소300자 이상 작성하기 바랍니다!]" required></textarea> -->
            <div text-angular="text-angular" name="description" ng-model="project.description" ta-disabled='disabled' ta-text-editor-class="form-control myform1-height" ta-html-editor-class="form-control myform1-height"></div>
          </div>

          <div class="form-group col-md-offset-1">
            
            <div class="row">
              <div class="col-sm-6">
                <!-- <span>   
              <label class="btn btn-default" for="upload-file-selector" ng-hide="">
                <input id="upload-file-selector" type="file" nv-file-select uploader="uploader">
                <i class="glyphicon glyphicon-plus"></i>
                <b> Upload Files</b>
              </label>
            </span> -->
                <input  type="file" nv-file-select=""  uploader="uploader"> 
                
                <div ng-show="uploader.queue.length>0">
                  <div><span translate="fileName"></span>: {{ item.file.name }}</div>
                  <div><span translate="fileSize"></span>: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                  <!-- <div ng-show="uploader.isHTML5">
                      진행상황: {{ item.progress +'%'}}
                      <div>
                          <div  ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </div>   -->

                  <!-- progress bar -->
                  <uib-progressbar class="progress-striped active" max="100" value="item.progress" type="success"><i>{{item.progress}} / 100</i></uib-progressbar>

                  <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">파일 업로드하기</button>
                  <!-- <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button> -->
                  <!-- <button ng-click="item.remove()">Remove</button> -->
                  <span ng-show="errMsg" class="text-danger">
                    {{errMsg}}
                  </span>
                  <span ng-show="sucMsg" class="text-success">
                    {{sucMsg}}
                  </span>  
				  <br>
				  <p class="prjct-list-font" style="padding-top:10px"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i><span translate="fileWarning">.</span></p>
                </div>
                
              </div>
              <div class="col-sm-6">
                <!-- <p>Drag and drop any images or documents that might be helpful in explaining your project brief here</p> -->
		          <p><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> <span translate="attachFile"></span></p>
              </div>
            </div>


          </div>


          <div class="form-group col-md-offset-1">

            <p class="question prjct-list-font">
              <span>4</span>
              <b translate="projectBudget"></b>
            </p>
			      <div style="font-size: 12px;">
              <b translate="projectAmount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              <span popover-title="프로젝트 금액 선택" uib-popover="긴급을 요하지 않는 경우를 제외하고 프로젝트 금액을 고정금액으로 선택하는 것을 추천 합니다. 고정금액 시작단위는 500,000원[오십만원] 시작을 권장합니다." popover-trigger="'mouseenter'" ><i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:20px;margin-bottom:20px;"></i></span>			  
            </div>

            <!-- <p class="sub-heading"><b>Project name?</b></p> -->
		  
            <div class="prjct-list-font">
              <label>
                <input class="rdio-pstn-selctr" type="radio" value="fixed" name="rate" ng-model="project.projectRate" ng-click = "rateToFixed();currencyChange();" > <span translate="fixedAmount"></span>
              </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label>
                <input class="rdio-pstn-selctr" type="radio" value = "hourly" name="rate" ng-model="project.projectRate" ng-click = "rateToHourly();currencyChange();"> <span translate="hourlyAmount"></span>
              </label>			  
             <!--  <span class="bubble">?</span>  -->             
            </div>

            <div class="row price-selector" style="margin-top:5px">
              <div class="col-xs-12 col-md-5 p-r-none">
                <select selector 
                  model="project.currency" 
                  options="currency" 
                  label-attr="cur"  
                  placeholder="Select currency"
                  change="currencyChange()">   
                </select>

              </div>

              <div class="col-xs-12 col-md-7 p-mr-none">
          
                <!-- <select  class="form-control" name="price" ng-model="project.price" ng-options="i as item.price for item in rateList track by item.id" ng-change="toggleCustomPrice()">
                </select> -->
                <select selector
                  model="project.price"
                  options="rateListt"
                  label-attr="name"
                  placeholder="프로젝트 금액을 선택 바랍니다" 
                  change="getMinMaxValue();">
                </select>
<!-- <span class="text-right" style="color:#820923;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 프로젝트 예산이 1억원 이상인 경우 아웃소싱 오케이에 별도 문의</span> -->
              </div> 

            </div>
            <div class="row" ng-if = "customizeProjectBudget">
              <div class="col-sm-12 col-md-12">
                <br>
                <label class="p-t-sm"> &nbsp 최소 지출 예산</label>
                <div class="input-group prjct-name">
                    <span class="input-group-addon">
                        <i ng-if="project.currency.code === 'USD' " class="fa fa-dollar"></i>
                        <i ng-if="project.currency.code === 'KRW' " class="fa fa-krw"></i>
                    </span>
                    <input required type="text" ng-model="project.minRange" class="form-control prjct-name" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" >
                </div>

              </div>
              <div class="col-sm-12">
                <br>
                <label class="p-t-sm">&nbsp 최대 지출 예산</label>
                <div class="input-group prjct-name">
                    <span class="input-group-addon">
                        <i ng-if="project.currency.code === 'USD' " class="fa fa-dollar"></i>
                        <i ng-if="project.currency.code === 'KRW' " class="fa fa-krw"></i>
                    </span>
                    <input required type="text" ng-model="project.maxRange" class="form-control prjct-name" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" >
                </div>

              </div>

            </div>

          </div>

          <div class="form-group col-md-offset-1">

          <p class="question prjct-list-font">
            <span>5</span>
            <b translate="optional"></b>
          </p>
		  <p  class="p-ml-non prjct-list-font" style="padding-top:5px;padding-left:10px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> <span translate="notice">.</span> </p>

          <hr/>

          <div class="row" style="padding-top:30px">
            <div class="col-xs-6 col-md-3">  
              <input class="top" type="checkbox" value='false' ng-model = "pakage_1" ng-change="checktotalAmount(pakage_1,'pakage_1')">

              <div class="btn-container">
                <label class="btn btn-info btn-block btn-sm btn-prject-sectn" style="background:#2d6ca7;color:#fff;" translate="chat"></label>     
              </div>
            </div>
            <!-- Mobile View -->
            <div class="col-md-2 col-xs-6 text-right hidden-md hidden-lg hidden-sm">
               <span><strike>₩ 5,000<span translate="원"></span></strike><br>{{project.currency.symbol_native}}{{optCharg*pakagePrices.pakage_1  | number: 0}} <br><span translate="chatFree"></span></span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 prjct-list-font p-mt-sm">
              <h3 class="title prjct-list-font" translate="chatHeading">!</h3>
			        <p class="prjct-list-font"><span translate="chatDescription">.</span> &nbsp;&nbsp;<span ng-click="chat = !chat" style="font-size:10px;padding-left:20px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
			        <span ng-show="chat">
			        <p><span style="color:#920923" ng-show="chat">[보안과 안전성을 이유로 반드시 구글크롬을 이용바랍니다.]</span></p>
              <p>아웃소싱오케이 실시간채팅 서비스는 의뢰인과 프리랜서들이 프로젝트 시작부터 완료까지 전체 과정을 실시간으로 확인 할 수 있으며 채팅 서비스 이용 구매시 1:1 화상채팅은 무료로 이용할 수 있습니다.</p>
			        <p>무료로 제공하는 1:1 화상 채팅은 프리랜서들과 화상회의가 언제든지 가능하며 안전하게 거래 할 수 있습니다. 대면 미팅을 원할경우 아웃소싱오케이본사 회의실에서 원하는 시간에 맞춰서 대면미팅을 할 수 있습니다.</p>
              <p>여러 프리랜서들과 실시간 채팅으로 더 많은 아이디어를 얻을 수 있는 기회가 되며 분쟁이 발생하기 전에 저장된 문자 채팅의 기록물로 양당사자간에 문제를 사전에 예방 할 수 있으며 분쟁을 쉽게 해결 할 수 있습니다.</p>
			  
			  
			        <p style="color:#898989"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 기타 외부 화상채팅[카카오톡, 스카이프등]을 이용시 양 당사자간 분쟁이 발생할 경우 아웃소싱오케이에서는 중재에 도움을 줄 수 없으니 주의 바랍니다.</p>
			  
			        <p style="color:#898989"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 채팅기록 보관은 ctrl+a후 ctrl+c로 회원님PC 저장파일에 ctrl+v로 별도보관바랍니다. </p>
			  </span>
			  <!--
			  <p style="color:#898989">화상(비디오 동영상)은 저장을 할 수 없는 기능이오니 여기에 관련하여 아웃소싱오케이에서는 일체의 책임을 지지 않으며 안전성을 위해서 구글크롬 사용으로만 최적화되어 있습니다. 만약 IE(인터넷 익스플로러) 사용시에 아웃소싱 오케이는 일체 책임지지 않습니다.</p>			  -->
              <p translate="freeEvent"><b></b></p>
            </div>
            <div class="col-md-2 hidden-xs">
               <span><strike>₩ 5,000<span translate="yen"></span></strike><br>{{project.currency.symbol_native}}{{optCharg*pakagePrices.pakage_1  | number: 0}} <br><br><span translate="chatFree"></span></span>
            </div>

          </div>

          <hr/>


		  <div class="row">
            <div class="col-xs-6 col-md-3">
              <!-- <input class="top" type="checkbox" value='false' ng-model = "pakage_2" ng-change="checktotalAmount(pakage_2,'pakage_2')" ng-disabled="pakage_1"> -->
			        <input class="top" type="checkbox" value='false' ng-model = "pakage_2" ng-change="checktotalAmount(pakage_2,'pakage_2')" disabled>

              <div class="btn-container">
                <label class="btn btn-info btn-block btn-sm btn-prject-sectn" style="background:#295a87;color:#fff;" translate="image"></label>
              </div>
            </div>
            <!-- Mobile view -->
            <div class="col-xs-6 col-md-2 text-right hidden-md hidden-lg hidden-sm">
               <span style="color:#000000">{{project.currency.symbol_native}} 0<span translate="yen"></span> <br><span translate="freePurchase"></span></span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 prjct-list-font">
              <h3 class="title" translate="confirmed"></h3>
              <p style="color:#898989"><span translate="videDescription">.</span><span ng-click="videochat = !videochat" style="font-size:10px;margin-left:13px;padding-left:20px;background:#2f70a9;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="introduction"></span></p>
			  <span ng-show="videochat">
			  <p>화상(비디오)은 저장을 할 수 없는 기능이오니 여기에 관련하여 문제가 발생될 경우 아웃소싱오케이에서는 일체의 책임을 지지 않으며 안전성을 위해서 구글크롬 사용으로만 최적화되어 있습니다. 만약 IE(인터넷 익스플로러)이용시 사용이 제한될 수 있습니다.</p>
			  <p><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 데스크탑으로 최적화되어있어 모바일 화상 이용 경우 불편할 수도 있습니다.</p>
			  </span>
            </div>
            <div class="col-sm-2 col-md-2 hidden-xs">
               <span style="color:#000000">{{project.currency.symbol_native}} 0<span translate="yen"></span> <br><span translate="freePurchase"></span></span>
            </div>

          </div>

          <hr/>

          

          <div class="row">
            <div class="col-xs-6 col-md-3">
              <input class="top" type="checkbox" value='false' ng-model = "private" ng-change="checktotalAmount(private,'private')" >

              <div class="btn-container">
                <label class="btn btn-info btn-block btn-sm btn-prject-sectn" style="background:#85a1b9;color:#fff;border-color: #85a1b9;" translate="private"></label>
              </div>
            </div>
            <!-- Mobile View -->
            <div class="col-xs-6 col-md-2 text-right hidden-sm hidden-md hidden-lg">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.private | number: 0}}</span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 prjct-list-font p-mt-sm">
              <p><span translate="privateServices"></span><span ng-click="service = !service" style="font-size:10px;margin-left:13px;padding-left:20px;background:#2f70a9;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="introduction"></span></p>
			        <p ng-show="service">아웃소싱 오케이는 회원님께서 등록한 프로젝트 내용들을 재 검토하여 프리랜서들에게 부각될 수 있도록 아웃소싱오케이 담당자가 1:1 서비스로 프로젝트 등록 재검토 및 수정해 드립니다. 본 서비스는 계약전에 회원님께서 원하는 여러프리랜서와 대면미팅을 원할경우 아웃소싱 오케이 담당자가 시간,장소등 모든 일정표를 회원님과 함께 계획하여 대면미팅시 직접 참여해서 계약까지 도와드립니다.</p>
            </div>
            <div class="col-sm-2 col-md-2 hidden-xs">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.private | number: 0}}</span>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-xs-7 col-md-3">
              <input class="top" type="checkbox" value='false' ng-model = "sealed" ng-change="checktotalAmount(sealed,'sealed')">
              <div class="btn-container">
                <label class="btn btn-success btn-block btn-sm btn-prject-sectn" style="background:#8fb7b9;border-color: #8fb7b9;" translate="sealed"></label>
              </div>
            </div>
            <!-- Mobile View -->
            <div class="col-md-2 col-xs-5 text-right hidden-sm hidden-md hidden-lg">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.sealed | number: 0}}</span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 p-mt-sm">
              <p translate="sealedDescription">.</p>
            </div>
            <div class="col-md-2 hidden-xs">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.sealed | number: 0}}</span>
            </div>

          </div>

          <hr/>

          <div class="row">
            <div class="col-xs-7 col-md-3">
              <input class="top" type="checkbox" value='false' ng-model = "NDA" ng-change="checktotalAmount(NDA,'NDA')" >
              <div class="btn-container">
                <label class="btn btn-success btn-block btn-sm btn-prject-sectn" style="background:#c7b6ac;color:#fff;border-color: #c7b6ac;" translate="NDA"></label>
              </div>
            </div>
            <!-- Mobile View -->
            <div class="col-xs-5 col-md-2 text-right hidden-sm hidden-md hidden-lg">
              <span style="color:#000000">{{project.currency.symbol_native}}{{optCharg*pakagePrices.NDA | number: 0}} </span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 prjct-list-font p-mt-sm">
              <p><span translate="NDAdescription">.</span><br><span ng-click="nda = !nda" style="font-size:10px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
			  <span ng-show="nda">
			  <p translate="NdaDetails">.</p>
			  <!-- <p style="color:#898989"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> 계약방법은 등기우편 또는 아웃소싱오케이본사 중 선택해서 계약할 수 있습니다. </p>  -->
			  </span>
            </div>
            <div class="col-xs-2 col-md-2 hidden-xs">
              <span style="color:#000000">{{project.currency.symbol_native}}{{optCharg*pakagePrices.NDA | number: 0}} </span>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-xs-6 col-md-3">
              <input class="top" type="checkbox" value='false' ng-model = "urgent" ng-change="checktotalAmount(urgent,'urgent')">
              <div class="btn-container">
                <label class="btn btn-danger btn-block btn-sm btn-prject-sectn" style="background:#524a3f;color:#fff;border-color: #524a3f;" translate="urgent"></label>
              </div>
            </div>
            <!-- Mobile View -->
            <div class="col-xs-6 col-md-2 text-right hidden-sm hidden-md hidden-lg">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.urgent  | number: 0}}</span>
            </div>
            <!-- End -->
            <div class="col-xs-12 col-md-7 prjct-list-font p-mt-sm">
                <p translate="urgentDescription">.</p>
            </div>
            <div class="col-xs-2 col-md-2 hidden-xs">
              <span>{{project.currency.symbol_native}}{{optCharg*pakagePrices.urgent  | number: 0}}</span>
            </div>

          </div>
          <div class="m-l-md" style="padding-top:10px"><h4><strong> <span translate="total"></span>: {{project.currency.symbol_native}}{{totalAmount | number: 0}}</strong></h4></div>
		  
		      <div class="m-l-md p-t-lg"><h6><strong style="color:#820923"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i>  <span translate="endDetail"></span>.</strong></h6></div>
		  
        </div>

      </div>

        <div style="display: -webkit-box;">
          <button class="btn btn-info btn-lg" ng-click = "create()" ng-disabled="projectForm.$invalid || !project.price || isLoading" style="background: #688686;border: 1px solid #688686" translate="postProject">
          </button>

          <div ng-if="isLoading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>
        </div>

        <br>
        <br>
        
        


      <!--  <button  class="btn btn-info btn-lg" ng-click = "create()" ng-disabled="projectForm.$invalid" value="Post Project Now" >Post Project Now</button>
       -->
      </form>
    </div>


    <!-- SIDEBAR -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 p-ml-none p-mr-none hidden-xs">
          
        <div class="text-center" style="padding-left:40px;padding-bottom:20px;"><img class="img-responsive img-circle" src="modules/core/client/img/customimages/about.outsource.image01-2.png"></div>


		<div class="box" style="margin-left:30px;background:#fff;padding-bottom:20px;">
          
             <h1 class="sidebar-title" translate="postProjectFree">.</h1>
		  

          <h2 class="sidebar-title-sub text-center"><img src="modules/projects/client/img/project_icon3.png"><span translate="projectFreeRegister"></span></h2>

          <hr/>

          <ul class="ul-sidebar">
            
            <li translate="conciseNameofYourProject">.</li>

            <li translate="DetailDescriptionofYourProject">.</li>

            <li translate="ProvideImagesorPDFWithSpecificationOfYourProject">.</li>

            <li translate="FeelFreetoPostTheProject">.</li>

			<li><span translate="TheProjectRegistrationOrderIs"></span> <b style="color:#087c99" translate="HowTheProjectWorks"></b> > <b style="color:#087c99" translate="CurrentStatusOftTheProject"></b> > <b style="color:#087c99" translate="DetailedBusinessContents"></b> > <b style="color:#087c99" translate="ReferencesAndNotes"></b> <span translate="ReferToTheExampleInOrder">!</span></li>

          </ul>

        </div>


        <div class="box" style="margin-left:30px;background:#fff;">
          
          <h1 class="sidebar-title" translate="ContestWithoutRealTimePublicForumisPast">.</h1>
		 <h1 class="sidebar-title" style="color:#000"><i class="fa fa-forumbee" aria-hidden="true"></i> <span translate="SimultaneousInterviewsWithApplicants"></span> </h1>	  		  
		  

          <hr/>

          <ul class="ul-sidebar">
            
            <li translate="SetAcontestPrizeAndOpenArealTimePublicForum">.</li>

            <li translate="applicantsSelectedByTheClient">.</li>

            <li translate="selectedFreelancerAndClientCanSaveTime">.</li>      
			
           	<li>채팅 이용시 등록당(건별) 콘테스트 시작부터 종료시점까지 화상채팅 이용료 5천원(부가세별도)이 부과 되며 언제든 무제한 이용 할 수 있습니다. 채팅구매시 화상이용은 종료기간까지 무료입니다.</li>

			       <li translate="securityAndSecurityReasonsVideoChatMustUseGoogleChrome">.</li>
            

          </ul>

          <div class="text-center" style="padding-top:20px">

          <button class="btn btn-info" ui-sref="contests.contest-post" style="background: #5f5b56;border: 1px solid #5f5b56">콘테스트 무료 등록</button>

          </div>

        </div>


		<div class="box" style="margin-left:30px;border-top:5px solid #bab3a9;background:#fff;">
          
             <h1 class="sidebar-title" style="color:#4c0a18" translate="HowToWriteProjectContents"></h1>
		  

          <h2 class="sidebar-title-sub text-center"><!-- <img src="modules/projects/client/img/project_icon5.png"> --><span translate="ExampleProjectContent"></span>&nbsp;&nbsp;<span ng-click="showSkills = !showSkills" style="font-size:10px;padding-left:20px;background:#bab3a9;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;"><span translate="seeExample"></span></span></h2>

          <hr/>
		
			<div ng-show="showSkills">



<b style="color:#087c99">[프로젝트 진행 방식]</b><br> 
예시)화상채팅,대면미팅,상주근무 등<br>
-시작단계부터 아웃소싱오케이 화상채팅 통해서 주3회와 주 1회 대면미팅을 원합니다.<br>
<br><br>





<b style="color:#087c99">[프로젝트 현재 상황]</b><br>
예시)현재 준비상황, 디자인 여부, PM 여부, 진행 계획 등<br>
-기본 아이디어와 프로젝트 기획은 완료된 상태입니다.<br>
-디자인과 스토리보드는 당사에서 진행합니다.<br>
<br><br>




<b style="color:#087c99">[상세 프로젝트 내용]</b><br>
예시)사이트의 용도, 주요 기능 List, 작업 분량, 필요한 조건 등<br>
-주요 기능 :<br>
 ＊안드로이드 앱 개발<br>
 ＊실시간 채팅 구현<br>
 ＊위치기반 대리점 검색<br>
<br><br>



<b style="color:#087c99">[참고자료 / 유의사항]</b><br>
예시)참고사이트, 기타 유의사항 등<br>
-위치기반앱 및 실시간채팅 개발경험이 있으신분을 찾습니다.<br>
-참고사이트 https://www.google.co.kr/maps
<br><br>
			</div>


        </div>

    </div>
  </div>




  <!-- <div class="col-md-12">
    <form name="vm.form.projectForm" class="form-horizontal" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.project.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.projectForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.project._id ? 'Update' : 'Create'}}</button>
        </div>
        
      </fieldset>
    </form>
  </div> -->

</section>
