<section ng-controller="HomeController">
    


    <!-- The Main Wrapper -->
    <div class="main-wrapper">

         
      <!--/////////////////////////// CONTENT \\\\\\\\\\\\\\\\\\\\\\\\\\\-->
      <main class="main-container">

        <!--========== Header section ==========-->
        <br>
        <section id="home" class="top_main">
          <div class="first-section overlay-bg all-light">
            <br><br><br><br>
            <div class="container-fulid">
              <div class="text-center">
                <br><br>
                <h1><strong>Hire expert OutSourcingOK for your job,Online</strong></h1>              
                <h3 class="text-success">Millions of small business use OutSourcingOk to turn their ideas into reality.</h3>
                <div class="text-center"> 
                <div class="btn btn-small custom"><a href="#">Get Free Quotes</a></div> 
                <div class="btn btn-small custom m-t-none"><a href="#">Get a Artical Written</a></div> 
              </div>
              </div>
            </div>
          </div>
        </section>
        <br><br>
        <!--========== About us section ==========-->
        <section id="one" class="p-100 triangle  profile_container bordortop_styling ">
          <div class="container-fulid text-md-left p-l-lg p-r-lg">
            <div class="section-title">
              <h4 class="title">About us</h4>
              <span class="after-title">About us</span>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-order-1 wow fadeInRight">
                 <h2><strong>How we work</strong></h2>
                <p class="text-muted" ><strong>Eligendi eum nesciunt eius provident illo quisquam ut officiis minus, aliquid fuga necessitatibus fugiat repudiandae ex, porro voluptates dolores saepe, delectus officia. Voluptatem repudiandae blanditiis.</strong></p>
                <ul class="marked-list text-muted">
                  <li style="line-height:40px;"><i class="fa fa-arrow-right verificationcheck imgcricle p-l-sm" aria-hidden="true"></i>
                    <span>Creative Ideas</span>
                  </li>
                  <li style="line-height:40px;"><i class="fa fa-arrow-right verificationcheck imgcricle p-l-sm" aria-hidden="true"></i>
                   <span>Team of Professionals</span>
                 </li>
                  <li style="line-height:40px;"><i class="fa fa-arrow-right verificationcheck imgcricle p-l-sm" aria-hidden="true"></i> 
                    <span>Years of Experience</span>
                  </li>
                </ul>
                <div data-scroll-to="#two" class="btn btn-small custom m-t-none"><a href="#">Our Services</a></div> 
              </div>
               <div class="col-md-6 mt-30 mt-md-0">
                <img src="modules/core/client/img/landing-page/index-02.jpg" style="height: 374px" alt="">
              </div>
              </div> 
            </div>
          </div>
        </section>
        <br>
        <!--========== services section ==========-->
        <section id="two" class="p-100 bg-second  profile_container bordortop_styling ">
          <div class="container-fulid all-light p-l-lg p-r-lg">
            <div class="flex-it">
              <div class="section-title light">
                <h4 class="title">services</h4>
                <span class="after-title">services</span>
              </div>
              <div class="quote"><h3 class="default-font"><span>“</span> Always ready to make the best out of your ideas.<span>”</span></h3></div>
            </div>
            <div class="row flex-middle cont-block left no-before">
              
              <div class="col-md-6 text-md-left wow fadeInRight">
                <div class="inner-cont">
                  <p>WEB DEVELOPMENT</p>
                  <h2 class=""><strong>Smart Digital Strategy and Action Planning</strong></h2>
                  <h5 class="text-muted" style="line-height:30px;">Integer tincidunt. Cras dapibus. Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong> Integer tincidunt. Cras dapibus. Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong> Integer tincidunt. Cras dapibus. Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong></h5>
                </div>
              </div>
              <div class="col-md-6 wow fadeInLeft text-center" data-wow-delay="0.5s">
                <img  src="modules/core/client/img/landing-page/serv-1.png" width="380" height="380" alt="">
              </div>
            </div>
            <div class="row flex-middle cont-block right">
              <div class="col-md-6 col-md-order-1 wow fadeInRight text-center" data-wow-delay="0.5s">
                <img src="modules/core/client/img/landing-page/serv-2.png" width="380" height="380" alt="">
              </div>
              <div class="col-md-6 text-md-right wow fadeInLeft">
                <div class="inner-cont">
                  <p class="second-font text-primary text-bold ls-130">WEB DESIGN</p>
                  <h2 class=""><strong>Modern Website Design For All Devices</strong></h2>
                  <h5 class="text-muted" style="line-height:30px;">Adipisicing elit. Quam quas quo doloribus <strong>voluptas facere ratione! Adipisicing elit. Quam quas quo doloribus <strong>voluptas facere ratione! Adipisicing elit. Quam quas quo doloribus <strong>voluptas facere ratione! Adipisicing elit. Quam quas quo doloribus <strong>voluptas facere ratione!</strong></h5>
                </div>
              </div>
            </div>
            <div class="row flex-middle cont-block left">
              <div class="col-md-6 text-md-left wow fadeInRight">
                <div class="inner-cont">
                  <p class="second-font text-primary text-bold ls-130">SEO</p>
                  <h2 class=""><strong>Top Search Engine Rankings</strong></h2>
                  <h5 class="text-muted" style="line-height:30px;">Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</h5>
                </div>
              </div>
              <div class="col-md-6 wow fadeInLeft text-center" data-wow-delay="0.5s">
                <img src="modules/core/client/img/landing-page/serv-3.png" width="380" height="380" alt="">
              </div>
              
            </div>
            <div class="row flex-middle cont-block right">
              <div class="col-md-6 col-md-order-1 wow fadeInRight text-center" data-wow-delay="0.5s">
                <img src="modules/core/client/img/landing-page/serv-4.png" width="380" height="380" alt="">
              </div>
              <div class="col-md-6 text-md-right wow fadeInLeft">
                <div class="inner-cont">
                  <p class="second-font text-primary text-bold ls-130">MARKETING</p>
                  <h2 class="default-font text-thin"><strong>Progressive Marketing Strategies</strong></h2>
                  <h5 class="text-muted" style="line-height:30px;">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. <strong>Donec sodales sagittis magna Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</strong></h5>
                </div>
              </div>
            </div>
          </div>
        </section>

        <br>
        <!--========== Team section ==========-->
        <section class="p-100 triangle  profile_container bordortop_styling ">
          <div class="container-fulid p-l-lg p-r-lg">
            <div class="section-title">
              <h4 class="title">Our Team</h4>
              <span class="after-title">Our Team</span>
            </div>
            <div class="row all-light text-left">
              <div class="col-xs-6 col-md-3">
                <div class="img-container">
                  <img  src="modules/core/client/img/landing-page/person-1.jpg" alt="">
                  <div class="img-panel">
                    <div class="img-title">
                      <h4>Kyoko Izumi</h4>
                      <p>Web designer</p>
                    </div>
                    <ul class="img-links">
                      <li><a href="#" class="icon fa fa-facebook"></a></li>
                      <li><a href="#" class="icon fa fa-twitter"></a></li>
                      <li><a href="#" class="icon fa fa-linkedin"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3 mt-30 mt-xs-0">
                <div class="img-container">
                  <img  src="modules/core/client/img/landing-page/person-2.jpg" alt="">
                  <div class="img-panel">
                    <div class="img-title">
                      <h4>Lewis Marshall</h4>
                      <p>Web designer</p>
                    </div>
                    <ul class="img-links">
                      <li><a href="#" class="icon fa fa-facebook"></a></li>
                      <li><a href="#" class="icon fa fa-twitter"></a></li>
                      <li><a href="#" class="icon fa fa-linkedin"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
             
              <div class="col-xs-6 col-md-3 mt-30 mt-md-0">
                <div class="img-container">
                  <img src="modules/core/client/img/landing-page/person-3.jpg" alt="">
                  <div class="img-panel">
                    <div class="img-title">
                      <h4>Louis Willis</h4>
                      <p>Web designer</p>
                    </div>
                    <ul class="img-links">
                      <li><a href="#" class="icon fa fa-facebook"></a></li>
                      <li><a href="#" class="icon fa fa-twitter"></a></li>
                      <li><a href="#" class="icon fa fa-linkedin"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-3 mt-30 mt-md-0">
                <div class="img-container">
                  <img src="modules/core/client/img/landing-page/person-4.jpg" alt="">
                  <div class="img-panel">
                    <div class="img-title">
                      <h4>Louis Willis</h4>
                      <p>Web designer</p>
                    </div>
                    <ul class="img-links">
                      <li><a href="#" class="icon fa fa-facebook"></a></li>
                      <li><a href="#" class="icon fa fa-twitter"></a></li>
                      <li><a href="#" class="icon fa fa-linkedin"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--========== Color Switcher ==========-->
       <!--  <div id="style-switcher" class="">
          <a href="#" class="toggle-switcher"><span class="icon fa fa-cog fa-spin"></span></a>
          <ul class="colors" id="color1">
            <li><a href="#" class="style1" data-color-src="css/style1.css"></a></li>
            <li><a href="#" class="style3" data-color-src="css/style3.css"></a></li>
            <li><a href="#" class="style5" data-color-src="css/style5.css"></a></li>
            <li><a href="#" class="style4" data-color-src="css/style4.css"></a></li>
            <li><a href="#" class="style8" data-color-src="css/style8.css"></a></li>
            <li><a href="#" class="style6" data-color-src="css/style6.css"></a></li>
            <li><a href="#" class="style2" data-color-src="css/style2.css"></a></li>
            <li><a href="#" class="style7" data-color-src="css/style7.css"></a></li>
          </ul>
        </div>  -->
      </main>
    </div>

</section>