<div class="page-header">
    <div class="row">
      <div class="col-sm-12 text-center">
        <label>
          <input type="radio" name="project_type"> Contractor
        </label>
        <label>
          <input type="radio" name="project_type"> Full Time
        </label>
        <label>
          <input type="radio" name="project_type"> Intern
        </label>
        <label>
          <input type="radio" name="project_type"> Part Time
        </label>
         <label>
          <input type="radio" name="project_type"> OutSoucingOK
        </label>
         <label>
          <input type="radio" name="project_type"> Contests
        </label>
      </div>
    </div>

    <!-- Search Form -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <form novalidate class="form-inline">
          <input class="form-control" type="text" name="">
          <select class="form-control"></select>
          <select class="form-control"></select>
          <button class="btn btn-warning">Search</button>
        </form>
      </div>
    </div>

  </div>