<section ng-controller="ProjectsController">
                  
<div class="container">
                <br>
<div class="servicestitle">
  <h1 style="font-weight: bold;">OutSourcingOk Services</h1>
  <h2>The most pain free way to get stuff done online</h2>
</div>
<br><br>
<!-- part 2 -->
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">         
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
          </a> 
         <div>
             <div>
                 <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
             </div>
             <p style="font-size: 17px;">Logo Design</p>
         </div>
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-3">         
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
          </a> 
         <div>
             <div>
                 <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
             </div>
             <p style="font-size: 17px;">Logo Design</p>
         </div>
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-3">         
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
          </a> 
         <div>
             <div>
                 <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
             </div>
             <p style="font-size: 17px;">Logo Design</p>
         </div>
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-3">         
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
          </a> 
         <div>
             <div>
                 <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
             </div>
             <p style="font-size: 17px;">Logo Design</p>
         </div>
    </div> 
   </div><!-- 1st row end -->

   <div class="row ">

     <div class="col-xs-12 col-sm-6 col-md-3">         
           <a href="#" class="p-b-sm">
             <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
           </a> 
          <div>
              <div>
                  <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
              </div>
              <p style="font-size: 17px;">Logo Design</p>
          </div>
     </div> 
     <div class="col-xs-12 col-sm-6 col-md-3">         
           <a href="#" class="p-b-sm">
             <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
           </a> 
          <div>
              <div>
                  <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
              </div>
              <p style="font-size: 17px;">Logo Design</p>
          </div>
     </div> 
     <div class="col-xs-12 col-sm-6 col-md-3">         
           <a href="#" class="p-b-sm">
             <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
           </a> 
          <div>
              <div>
                  <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
              </div>
              <p style="font-size: 17px;">Logo Design</p>
          </div>
     </div> 
     <div class="col-xs-12 col-sm-6 col-md-3">         
           <a href="#" class="p-b-sm">
             <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
           </a> 
          <div>
              <div>
                  <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
              </div>
              <p style="font-size: 17px;">Logo Design</p>
          </div>
     </div> 
    </div> 
    <!-- row 2 ended -->
    <div class="row ">

      <div class="col-xs-12 col-sm-6 col-md-3">         
            <a href="#" class="p-b-sm">
              <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
            </a> 
           <div>
               <div>
                   <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
               </div>
               <p style="font-size: 17px;">Logo Design</p>
           </div>
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-3">         
            <a href="#" class="p-b-sm">
              <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
            </a> 
           <div>
               <div>
                   <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
               </div>
               <p style="font-size: 17px;">Logo Design</p>
           </div>
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-3">         
            <a href="#" class="p-b-sm">
              <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
            </a> 
           <div>
               <div>
                   <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
               </div>
               <p style="font-size: 17px;">Logo Design</p>
           </div>
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-3">         
            <a href="#" class="p-b-sm">
              <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
            </a> 
           <div>
               <div>
                   <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
               </div>
               <p style="font-size: 17px;">Logo Design</p>
           </div>
      </div> 
     </div>
     <!-- row 3 ended -->

     <div class="row ">

       <div class="col-xs-12 col-sm-6 col-md-3">         
             <a href="#" class="p-b-sm">
               <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
             </a> 
            <div>
                <div>
                    <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                </div>
                <p style="font-size: 17px;">Logo Design</p>
            </div>
       </div> 
       <div class="col-xs-12 col-sm-6 col-md-3">         
             <a href="#" class="p-b-sm">
               <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
             </a> 
            <div>
                <div>
                    <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                </div>
                <p style="font-size: 17px;">Logo Design</p>
            </div>
       </div> 
       <div class="col-xs-12 col-sm-6 col-md-3">         
             <a href="#" class="p-b-sm">
               <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
             </a> 
            <div>
                <div>
                    <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                </div>
                <p style="font-size: 17px;">Logo Design</p>
            </div>
       </div> 
       <div class="col-xs-12 col-sm-6 col-md-3">         
             <a href="#" class="p-b-sm">
               <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
             </a> 
            <div>
                <div>
                    <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                </div>
                <p style="font-size: 17px;">Logo Design</p>
            </div>
       </div> 
      </div>
      <!-- row 4 ended -->

      <div class="row ">

        <div class="col-xs-12 col-sm-6 col-md-3">         
              <a href="#" class="p-b-sm">
                <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
              </a> 
             <div>
                 <div>
                     <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                 </div>
                 <p style="font-size: 17px;">Logo Design</p>
             </div>
        </div> 
        <div class="col-xs-12 col-sm-6 col-md-3">         
              <a href="#" class="p-b-sm">
                <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
              </a> 
             <div>
                 <div>
                     <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                 </div>
                 <p style="font-size: 17px;">Logo Design</p>
             </div>
        </div> 
        <div class="col-xs-12 col-sm-6 col-md-3">         
              <a href="#" class="p-b-sm">
                <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
              </a> 
             <div>
                 <div>
                     <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                 </div>
                 <p style="font-size: 17px;">Logo Design</p>
             </div>
        </div> 
        <div class="col-xs-12 col-sm-6 col-md-3">         
              <a href="#" class="p-b-sm">
                <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
              </a> 
             <div>
                 <div>
                     <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                 </div>
                 <p style="font-size: 17px;">Logo Design</p>
             </div>
        </div> 
       </div>
       <!-- row 5 ended -->
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-3">         
               <a href="#" class="p-b-sm">
                 <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/backgroundimage.jpg" alt="doodle"> 
               </a> 
              <div>
                  <div>
                      <h4><strong>$30 USD</strong><small style="font-size: 18px;"> .2 days</small></h4>
                  </div>
                  <p style="font-size: 17px;">Logo Design</p>
              </div>
         </div> 
       </div>
</div>

  
    <hr>
    <!-- part 2 -->
</section>



