<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">서비스 이용료</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>


<section ng-controller="ProfilesController" ng-init="priceeChange()" class="container-fluid p-ml-none p-mr-none">
  <div class="row">
	<div class="hidden-md">
		<br><br><br>
	</div>

	<!-- Credit Card -->
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p-ml-none p-mr-none col-md-offset-1">
		<br>
		<div class="p-ml-none p-mr-none" >
			<div class="panel panel-primary" style="border:1px solid #5b1b29;">
			<div class="panel-heading" style="background:#5b1b29;font-size: 15px;border:1px solid #5b1b29;">결제방법선택</div>
			<div class="panel-body" style="height:40%; text-align:center;" >
			<a ui-sref="credit-deposit"><button class="btn btn-primary btn-lg" style="margin-right:50px;"> 신용카드</button> </a><a ui-sref="cash-deposit"><button class="btn btn-primary btn-lg" style="margin-right:20px;background:#d0a620;border:1px solid #d0a620;"> 현금결제</button></a>&nbsp;&nbsp;&nbsp;<a ui-sref="paypal-deposit"><button class="btn btn-primary btn-lg" style="background:#009cde;margin-left:20px;">&nbsp;&nbsp;페이팔&nbsp;&nbsp;</button> </a>
			   
			</div>
			</div>
		</div>

		<div class="p-ml-none p-mr-none" >
			<div class="panel panel-primary" style="border:1px solid #d0a620;">
			<div class="panel-heading" style="background-color:#2c456c;font-size: 15px;background:#d0a620;border:1px solid #d0a620;">현금결제</div>
			<div class="panel-body" style="height:60%; text-align:center;" >
			<p class="bg-info" id="msg"></p>
			   <form method="post" class="form-horizontal" role="form" name="paymentForm" method="post">

			   	<div class="form-group" style="margin-top:20px">
			   	    <label class="control-label col-sm-2" for="pricee">
			   	    	은행명:
			   	    </label>
			   	    <div class="col-sm-10" style="font-size:15px">
			   	      기업은행
			   	    </div>
			   	</div>

				<div class="form-group">
			   	    <label class="control-label col-sm-2" for="pricee">
			   	    	예금주:
			   	    </label>
			   	    <div class="col-sm-10" style="font-size:15px">
			   	      주식회사 잡콜미
			   	    </div>
			   	</div>

				<div class="form-group" style="margin-bottom:20px">
			   	    <label class="control-label col-sm-2" for="pricee">
			   	    	계좌번호:
			   	    </label>
			   	    <div class="col-sm-10" style="font-size:15px">
			   	      068-078905-04-012
			   	    </div>
			   	</div>

			   	<div class="form-group hidden">
			   	    <label class="control-label col-sm-2" for="username">UserName:</label>
			   	    <div class="col-sm-10"> 
			   	      <input type="text" name="buyerName" ng-model="authentication.user.username" class="form-control"/>
			   	    </div>
			   	</div>

			   	<div class="form-group hidden">
			   	    <label class="control-label col-sm-2" for="email">Email:</label>
			   	    <div class="col-sm-10">
			   	      <input type="email" name="Email" ng-model="authentication.user.email" class="form-control"/>
			   	    </div>
			   	</div>

			   	<div class="form-group hidden">
			   	    <label class="control-label col-sm-2" for="mobile">Mobile:</label>
			   	    <div class="col-sm-10">
			   	      <input type="number" name="tel" ng-model="authentication.user.mobile" placeholder="Please enter mobile number" class="form-control" required/>
			   	    </div>
			   	</div>

			   	<div class="hidden">
			   		<input type="number" name="price" ng-model="totalPricee"/>
			   	</div>
			   	<input type="hidden" name="goodsName" id="GoodsName" value="Deposit for OutSourcingOk" />
	            <input type="hidden" name="goodscount" value="1" />


				


	            
	           <!-- 
			    <div class="form-group">
			      <div class=" col-sm-12">
			        <button id="send" value="submit" class="btn btn-primary btn-lg" type="submit" >
			           <span class="glyphicon glyphicon-send" ></span> Pay 
			           <i class="fa fa-krw" aria-hidden="true"></i> {{totalPricee | number: 0}}
			        </button>
			      </div>
			    </div>
				-->
			  </form>
			</div>
			</div>
			<br><br><br>
		</div>

	</div>





	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 p-mr-none p-ml-none hidden-xs">
	  <br>
        <div class="panel panel-primary" style="border:1px solid #656a72;">
			<div class="panel-heading text-center" style="background:#656a72;font-size: 15px;border:1px solid #656a72;">아웃소싱 오케이 유료서비스 안내</div>
				<div class="panel-body form-horizontal" style="height:40%; text-align:center;" >
					

					<div class="form-group" style="margin-top:20px">
						<div class="col-sm-4">
							  <div class="btn-container">
								<label class="btn btn-info btn-block" style="background:#1793b1;color:#fff;">채팅</label>								 
							  </div>
						</div>

						<div class="col-sm-6" style="font-size:15px">
						  <h3 class="title">등록 건별 30일간 무제한 채팅이용!</h3>
						  <p>구매시 1:1 화상채팅은 무료</p>
			 
						</div>
						<div class="col-sm-2" style="font-size:15px">
						  5,000원
						</div>
					</div>

<!-- 
					<div class="form-group" style="margin-top:20px">
						<div class="col-sm-4">
              
              

              <div class="btn-container">
                <label class="btn btn-info btn-block" style="background:#008000;color:#fff;">개인 서비스</label>
              </div>


            </div>
						<div class="col-sm-6" style="font-size:15px">
						  <h3 class="title">회원님의 모든 일정표를 관리해드립니다.</h3>
						  <p>등록 재검토 및 수정 편집</p>
			 
						</div>
						<div class="col-sm-2" style="font-size:15px">
						  5,000원
						</div>
					</div>
-->

					<div class="form-group" style="margin-top:20px">
						<div class="col-sm-4">
              
      

              <div class="btn-container">
                <label class="btn btn-success btn-block" style="background:#113886;border-color: #113886;">비공개</label>
              </div>


            </div>
						<div class="col-sm-6" style="font-size:15px">
						  <h3 class="title">각프리랜서들이 지원내용을 볼수없습니다.</h3>
						  <p>&nbsp;</p>
			 
						</div>
						<div class="col-sm-2" style="font-size:15px">
						  1,000원
						</div>
					</div>
					<div class="form-group" style="margin-top:20px">
						<div class="col-sm-4">
              
              

              <div class="btn-container">
                <label class="btn btn-danger btn-block" style="background:#6b081d;color:#fff;">긴급</label>
              </div>


            </div>
						<div class="col-sm-6" style="font-size:15px">
						  <h3 class="title">빠른 응답과 긴급을 요한 서비스입니다.</h3>
						 
			 
						</div>
						<div class="col-sm-2" style="font-size:15px">
						  1,000원
						</div>
					</div>
					


				   
				</div>
			</div>
			</div>



</div>

	<br><br><br>
	<!-- Angular spinner -->
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="payLoader"></span>
</section>
