<div ng-controller="ProfilesController" >
    <!-- START: Profile HEADER -->
    <!-- <div class="profileheader p-t-md">
        <div class="profileheader">
            <ul class="col-md-offset-1 list-inline user_list" style="margin-left: 4rem;">
                <li><a href=""><img ng-src="{{authentication.user.profileImageURL}}" alt="ali1 hassan" class="header-profile-image" src="modules/users/client/img/profile/default.png"></a></li>
                <li><a ui-sref="profile.view" class="hedr-menu profile-menu">View of company Profile</a></li>
                <li><a href="" class="hedr-menu profile-menu">View of Company Information</a></li> -->
                <!-- <li><a href="" class="hedr-menu profile-menu">My Service</a></li>
                <li><a href="" class="hedr-menu profile-menu">Promote Profile</a></li>
                <li><a href="" class="hedr-menu profile-menu">My Rewards</a></li> -->
             <!--    <li>
                    <ul class="list-inline text-right tmp-profile-headr" style="margin-left: 18.5rem">
                        <li class=""><button type="button" class="btn post-prjct " ui-sref="projects.project-post">Post Project</button></li>
                        <li>Today Rate</li>
                        <li dropdown class="currncy_drpdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">KRN 
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Action</a></li>
                                <li><a href="">Another action</a></li>
                                <li><a href="">Something else here</a></li>
                                <li><a href="">Separated link</a></li>
                                <li><a href="">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>  
            </ul>
        </div>
    </div> -->
    <!-- End: Profile HEADER -->
    <div ui-view></div>
</div>