<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">글로벌 프리랜서 리스트</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

	<section ng-controller="ProfilesController" ng-init="getAllProfiles();universalData()">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 containner-fluid p-ml-none p-mr-none">
			<div ng-include="search"></div>
			<!-- <div class="col-xs-12">

				<div class="col-xs-2 pull-left p-l-none">
					<button class="btn btn-default">MVP Products</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-default">6 recent Advertisement</button>
				</div>

				<div class="m-t-lg">
					<div class="col-xs-3">
						Slider
					</div>
					<div class="col-xs-3">
						kodo logo
					</div>
					<div class="col-xs-3">
						slider 
					</div>
					<div class="col-xs-3">
						slider
					</div>
				</div>   	
			</div> -->
			<br class="hidden-xs hidden-sm"><br class="hidden-lg"><br class="hidden-lg"><br>

			
			  <div class="text-center img-responsive hidden-lg"> 
				<div class="btn btn-small border-wla" style="border: 1px solid #35abc8;padding:10px 50px;background:#fff;">
				  <h4><b>글로벌 프리랜서 리스트</b></h4>
				</div>  
			  </div>
<div class="col-xs-12 p-mr-none p-ml-none text-right">
      <ul uib-pagination total-items="profilesLength" ng-model="currentPage" max-size="maxSize" class="pagination-sm " boundary-links="true" num-pages="numPages"></ul>

    </div>
			<div class="hidden-xs">


			


				<div class="col-xs-12 col-md-3 p-ml-none p-mr-none">
				<div class="profile_container bordortop_styling p-l-md" style="background:#fff;">
					<!-- <h6><strong>Looking for Employee</strong><span class="pull-right page-colors p-r-sm">Page <strong class="page-no">1</strong></span></h6>
					<div class="input-group m-b-lg">
						<span class="input-group-addon btn-default" id="basic-addon1"><i class="fa fa-close" aria-hidden="true"></i></span>
						<button class="btn btn-default" placeholder="Username" aria-describedby="basic-addon1">Online users</button>
					</div> -->
					<form class="p-r-md">
						<br>
						<div class="input-group">
						  <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 ? search('byProfession') : null" name="searchProfile" ng-model="searchProfile" placeholder="글로벌 프리랜서 회원 검색" ng-change="search('byProfession')">
						  <span class="input-group-btn">
						     <button class="btn btn-default" type="button" ng-click="search('byProfession')"> 
						      <i class="glyphicon glyphicon-search text-muted">
						    </i></button>
						  </span>
						</div>

						<!-- <div class="form-group">
							<label for="employeeType">Type of Employee</label>
							<select  class="form-control"></select>
						</div> -->
						<!-- <div class="form-group">
							<label for="employeeType">What do you required?</label>
							<select  class="form-control"></select>
						</div> -->
						<br>
						<div class="form-group">
							<label for="skill">전문기술</label>
							<div>
							  <div >
							    <select selector model="searchBySkill" multi="true" options="skills" label-attr="name" placeholder="전문기술 검색" ></select>
							  </div>
							  <div class="col-xs-12 col-md-12">
							    <div ng-show="skills" class="row">
							     <div ng-repeat="skill in profile.skills" style="display: inline-block">
							         <span class="label label-success m-l-sm" >{{skill}}</span>
							      </div>
							    </div>
							    <hr>
							  </div>
							</div>
						</div>
						<!-- <div class="form-group">
							<label for="employeeType">Education Background</label>
							<select  class="form-control" ng-model="bidding.education" ></select>
						</div> -->
						<div class="form-group">
							<label for="countries">국가</label>							
							<div >
							  <select selector model="searchByCountry" multi="true" options="countryData" label-attr="name" placeholder="국가별로 검색" ></select>
							</div>							
							<div class="col-md-12">
							  <div ng-show="countryData" class="row">
							    <div ng-repeat="country in countryData" style="display: inline-block">
							       <span class="label label-success m-l-sm" ><!-- {{country}} --></span>
							    </div>
							  </div>
							  <hr>
							</div>
						</div>
						<!-- <div class="form-group">
							<label for="countries">Specific Location</label>  
							<div class="input-group add-on rigt-add-on">
								<input class="form-control" placeholder="Location" name="srch-term" ng-model="bidding.location" id="srch-term" type="text">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-map-marker"></i></button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="capabilitiess">Technical Capabilities</label>
							<input type="text" class="form-control" placeholder="Technical Capabilities" id="capabilitiess"  > 
							<i class="fa fa-times icon-tym"></i>
						</div>
						<div class="form-group">
							<label for="budget">Budget</label>
							<select selector  options="rateList" label-attr="name" placeholder="Select Budget">
							</select>
						</div> -->
					</form>
					<hr>
					<!-- <span> <strong>Rating</strong></span>
					<div class="col-xs-12 starRating p-mr-none p-ml-none star-rankingcolor">
						<span uib-rating ng-model="rate" max="max" read-only="isReadonly" titles="['one','two','three']" aria-labelledby="default-rating"> </span>
					</div> -->
					<!-- <hr>
					<div>
						<span>Online</span>
						<div class="form-group">
							<input type="checkbox" name="onlineUser"><span class="p-l-xs">Online Employee Only</span><br>
							<input type="checkbox" name=""><span class="p-l-xs">Only Video can available</span><br>
							<input type="checkbox" name=""><span class="p-l-xs">Online Video cam and Chat available</span> <br>
							<span class="p-l-lg">(for instant Video and Chat)</span>
						</div>     	
					</div> -->
				</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-9 profile_container bordortop_styling p-mr-none p-ml-none">
			<!-- <div class="row">
				<div class="text-center">
					<ul uib-pagination total-items="profilesLength" ng-model="currentPage" max-size="maxSize" class="pagination-sm " boundary-links="true" num-pages="numPages"></ul>
				</div>
				<div class="text-center col-xs-12 col-md-offset-2 col-md-8 hidden-xs">
					<button type="button" class="btn btn-default btn-sm btn-width m-mt-sm">
			          <i class="fa fa-star-o icon-clr" aria-hidden="true"></i> Bookmark
			        </button>
			        <button type="button" class="btn btn-default btn-sm btn-width m-mt-sm">
			          <i class="fa fa-user-o icon-clr" aria-hidden="true"></i> Profile
			        </button>
			        <button type="button" class="btn btn-default btn-sm btn-width m-mt-sm">
			          <i class="fa fa-map-marker icon-clr" aria-hidden="true"></i> Office Location
			        </button>
			        <button type="button" class="btn btn-default btn-sm btn btn-width m-mt-sm">
			          <i class="fa fa-heart icon-clr" aria-hidden="true"></i> Rate
			        </button>
			        <button type="button" class="btn btn-default btn-sm btn-width m-mt-sm">
			          <input type="checkbox" name="" class="icon-clr certif-chck"> Certification
			        </button>
	      		</div>
	      	<div class="col-xs-12 col-md-2 hidden-xs">  
	        <button type="button" class="btn btn-default btn-sm pull-right date-btn m-mt-sm">
	          <input type="date" name="" class="icon-clr date-option"> 
	        </button>
				</div>
			</div> -->

				<!--List of outsourcers-->
				<center>
					<div ng-if="isLoading">
						<br><br><br>
					    <img class="img-responsive" src="/modules/core/client/img/landing/outsoucing.png"> <br>
						<i class="fa fa-spinner fa-spin fa-4x fa-fw"></i> 
					</div>
				</center>
				<div ng-repeat=" prof in filteredProfiles" >  
				<div class="row p-t-lg m-ml-none m-mr-none" style="background: rgba(255, 255, 255, 1);">
					<div class="text-left col-xs-4 col-md-2">
						<img ng-src="{{prof.userInfo.profileImageURL}}" class="img-responsive profile-imgs" style="height: 12rem;">
						<i class="fa fa-map-marker icon-clr"></i> 

						<!-- <img src="http://www.geognos.com/api/en/countries/flag/{{prof.userInfo.country.code}}.png" title = "{{prof.userInfo.country.name}}" style="width: 2rem; height: 1.3rem;">  -->

						<img src="https://countryflags.io/{{prof.userInfo.country.code}}/flat/64.png" title = "{{prof.userInfo.country.name}}" style="height: 1.3rem;"> 
						
						<span class="conty-nam" ng-show="prof.userInfo.country.city">{{prof.userInfo.country.city}},</span> 
						<strong class="text-success conty-nam"> {{prof.userInfo.country.name}} </strong>
					</div>
					<div class="col-xs-8 col-md-7 inline p-l-xs">

						<h4 class="m-t-none"><strong><a ui-sref="profile.outsourcer({profileId: prof._id})" style="text-decoration: none;">{{prof.userInfo.username}}</a></strong></h4>   
						<div class="col-xs-8 col-md-4 p-l-none p-r-none">
							<span style="background-color: #FF9200" class="label" ng-if="prof.finalUserRattingBaseOnProjectAwarded" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{prof.finalUserRattingBaseOnProjectAwarded | number: 1}}</span>
							<!-- if the rating not exist -->
							<span style="background-color: #FF9200" class="label"  ng-if="!prof.finalUserRattingBaseOnProjectAwarded" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">0.0</span>

							<span  style="color: #000" uib-rating ng-model="rateingStars" ng-init="rateingStars = prof.finalUserRattingBaseOnProjectAwarded" max="max" read-only="isReadonly" titles="['one','two','three']" aria-labelledby="default-rating"> </span>
						</div>
						<span ng-if="prof.noOfReviewBaseOnProjectAwarded">
							<small>{{prof.noOfReviewBaseOnProjectAwarded}} 리뷰</small>
						</span>
						<span ng-if="!prof.noOfReviewBaseOnProjectAwarded">
							<small>0 리뷰</small>
						</span>
						<!-- <div class="col-xs-12 col-md-4 p-ml-none p-mt-sm">
							<span class="hidden-xs"><strong>0.0</strong></span>
							<span style="color: #1ED26C" uib-rating ng-model="rate" max="max" read-only="isReadonly" titles="['one','two','three']" aria-labelledby="default-rating"> </span>
						</div> -->
						<br class="hidden-md hidden-lg">
						<span ng-show="{{prof.perHourRate}}" class="p-l-sm p-ml-none p-mt-xs">
							<small> 시간당 요금 -<strong> {{prof.perHourRate}}</strong></small>
						</span>
						<br>
						<div class="p-mt-xs">
							<p style="margin: 7px 0 10px;" class="m-mt-none"><!-- <strong>10 Year 10 Months Experience &nbsp</strong> --><span><i class="fa fa-check-square-o" style="font-size:20px; color:#00aeef"></i>&nbsp {{prof.certificates.length}} 자격증</span></p>
							<p class="text-primary" ng-repeat="skill in prof.skills" style="display:inline;">
								<!-- <strong>{{skill}} , 	</strong></p> -->
								<span class="label label-success" style="background:#8ba753;border: 1px solid #8ba753;">{{skill.name}}</span>
							<p style="display:block; word-wrap:break-word;" class="p-t-xs prjct-list-font m-mb-none" ng-show="prof.indInfo || prof.companyIntro"> {{prof.indInfo   || prof.companyIntro | limitTo : 300}} ...</p>
						</div>
				   </div>
					<div class="col-xs-12 col-md-3 p-mt-xs m-mb-sm">
						<div class="text-center">
							<div class="hidden-xs">
								<!-- <i class="fa fa-play icon-project play-icon" aria-hidden="true"></i>
								<i class="fa fa-commenting icon-project icon-clr" aria-hidden="true"></i>
								<i class="fa fa-phone icon-project icon-clr" aria-hidden="true"></i>
								<i class="fa fa-envelope-o icon-project icon-clr" aria-hidden="true"></i>
								<i class="fa fa-wikipedia-w icon-project icon-clr" aria-hidden="true"></i>
								<i class="fa fa-print icon-project icon-clr" aria-hidden="true"></i> -->
								<img src="modules/core/client/img/customimages/list_icon2.png">&nbsp;
								<img src="modules/core/client/img/customimages/list_icon3.png">&nbsp;
								<img src="modules/core/client/img/customimages/list_icon1.png">&nbsp;
								<img src="modules/core/client/img/customimages/list_icon4.png">&nbsp;
								<img src="modules/core/client/img/customimages/list_icon5.png">&nbsp;
								<img src="modules/core/client/img/customimages/list_icon6.png">&nbsp;
							</div> 
							<div class="div-btnMe p-mt-sm" style="padding-top:10px">
								<a ui-sref="profile.outsourcer({profileId: prof._id})" style="text-decoration: none"><button class="btn btn-me" style="background: #5f5b56;border: 1px solid #5f5b56">프리랜서 채용</button></a>
							</div>
						</div>
					</div>
					</div>
					<br>
			  	</div> 
			  	<!-- End First review -->
	      	<hr>

		<div class="col-xs-12 p-mr-none p-ml-none">
      <ul uib-pagination total-items="profilesLength" ng-model="currentPage" max-size="maxSize" class="pagination-sm " boundary-links="true" num-pages="numPages"></ul>

    </div>
	</div>
  </div>
 </div>	
</div> 

<!-- chatWindow -->
<div  ng-show="authentication.user">
  <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
</div>
 
</section>  
