<section  class="container-fluid">

  <div class="row p-l-none p-b-sm p-ml-none">
    <!-- outsourcingok Logo -->
    <div uib-carousel active="index" interval="0" no-wrap="false"> 
        <div class="col-xs-7 showImg-section">
          <div class="showcase-slider">
            <img ng-src="{{slide.file.link}}" class='margina_100'/>
          </div>
        </div>
        <div class="col-xs-5 showuser-section p-l-lg">
          <div class="row p-t-md">
           <div class="col-xs-8 p-l-none">
             <img src="modules/core/client/img/landing/outsoucing.png" class='margina_100'>
           </div>
           <div class="col-xs-4 text-right">
              <span style="font-size:17px">
                <a href='javascript:void(0)'>
                  <i class="fa fa-times redLabel" aria-hidden="true" ng-click="closeShowcaseModel()">
                  </i>
                </a>
              </span>
           </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12 p-l-none">
              <h3><b>{{slide.title}}</b></h3>
            </div>
          </div>
          <!-- user -->
          <div class="row">
            <h5><b>프리랜서</b></h5>
            <div class="col-xs-4 p-l-none p-ml-none">
              <img ng-src="{{slide.user.profileImageURL}}" class='width_height_4rem'>
            </div>

            <div class="col-xs-7 p-l-none p-ml-none">
              <b class="text-info">{{slide.user.username}}</b><br>
              <span>
                <img class='height_3rem' ng-src="https://countryflags.io/{{slide.user.country.code}}/flat/64.png" title = "{{slide.user.country.code}}" > 
              </span>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-12 p-l-none">
              <button ng-if="user._id !== slide.user._id" class="btn btn-info btn-block" ng-click="hireFreelancer(slide)">본 상품 상담의뢰</button>
              <center>
                <h3 ng-if="user._id === slide.user._id"><label class="label label-info" > 회원님의 쇼케이스 상품</label></h3>
              </center>
           </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 p-l-none p-ml-none">
              <a href="" style="text-decoration: none" ng-click="likeShowcase(slide)">
                <div class="like-icons"> 
                  <span class="text-danger"><i class="fa fa-heart"></i></span>
                </div>
              </a>
              <span class="p-l-md">{{slide.likes.length}} 좋아요</span>
            </div>
          </div>
          <br>

          <div class="row">
            <!-- <h5><b>Review left by the employer</b></h5> -->
            <h5><b>상품내용</b></h5>
            <div class="col-xs-12">
              <p style="word-wrap: break-word;"> {{slide.description}}.</p>
            </div>
            <div class="col-xs-12 text-right">
              <span class='fontSize15'>
                <a href='javascript:void(0)'>
                  <i class="fa fa-times redLabel" aria-hidden="true" ng-click="closeShowcaseModel()"> 
                    닫기
                  </i>
                </a>
              </span>
            </div> 
          </div>
          <hr class="m-t-sm m-b-xs"> 
        </div> 
    </div> 
  </div>
</section>