<div class="modal-header">
    <h3 class="modal-title" id="modal-title">프로필 이미지 업로드</h3>
</div>
<div class="modal-body" id="modal-body">

    <!-- Start of Modal body -->
    <div class="">
        <form class="signin form-horizontal">
            <fieldset>
                <div class="form-group text-center">
                    <img ng-model="imageURL" ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture"> 
                </div>
                <div class="text-center form-group" ng-hide="uploader.queue.length">
                    <span class="btn btn-default btn-file">
                        이미지 선택 <input type="file" nv-file-select uploader="uploader">
                    </span>
                </div>
                <div class="text-center form-group" ng-show="uploader.queue.length">
                    <button class="btn btn-primary" ng-click="uploadProfilePicture();">업로드</button>
                    <button class="btn btn-default" ng-click="cancelUpload();">취소</button>
                </div>
                <div ng-show="success" class="text-center text-success">
                    <strong>프로필 이미지를 성공적으로 변경하였습니다.</strong>
                </div>
                <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- End of Modal body -->

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">저장</button>
</div>