<style>
body {
	background:#f2f2f2;
}
</style>

<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">비밀번호 변경 설정</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section class="row" style="background-color: white" ng-controller="ChangePasswordController">
  <div class="col-xs-12">
        
      <div class="row paddingEveryRow" style="padding-top: 4%;">
        <h1><b>비밀번호 변경</b></h1>
      </div>
      <hr>
   <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
     <fieldset>
       <div class="form-group paddingEveryRow" show-errors>
         <label for="currentPassword">현재 비빌번호</label>
         <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="현재 비빌번호를 입력 바랍니다." style="width: 50%;" required>
         <div ng-messages="passwordForm.currentPassword.$error" role="alert">
           <p class="help-block error-text" ng-message="required">현재 비빌번호를 입력 바랍니다.</p>
         </div>
       </div>
       <div class="form-group paddingEveryRow" show-errors>
         <label for="newPassword">새로운 비빌번호</label>
         <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="새로운 비빌번호를 입력 바랍니다." popover="{{popoverMsg}}" popover-trigger="focus" style="width: 50%;" password-validator required>
         <div ng-messages="passwordForm.newPassword.$error" role="alert">
           <p class="help-block error-text" ng-message="required">새로운 비빌번호를 입력 바랍니다.</p>
           <div ng-repeat="passwordError in passwordErrors">
             <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
           </div>
         </div>
       </div>
       <div class="form-group paddingEveryRow" show-errors>
         <label for="verifyPassword">비밀번호 재확인</label>
         <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="비밀번호 재확인을 입력 바랍니다." style="width: 50%;" password-verify="passwordDetails.newPassword" required>
         <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
           <p class="help-block error-text" ng-message="required">비밀번호 재확인을 입력 바랍니다.</p>
           <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>잘못된 비빌번호 입니다.</p>
         </div>
       </div>

       <div class="form-group" ng-show="!passwordForm.newPassword.$error.required">
         <label>비밀번호 요청</label>
         <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:red; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
       </div>
       <hr>
       <div class="text-center form-group">
         <button type="submit" class="btn btn-primary">변경된 비빌번호</button>
       </div>
       <div ng-show="success" class="text-center text-success">
         <strong>성공적으로 비밀번호가 변경되었습니다.</strong>
       </div>
       <div ng-show="error" class="text-center text-danger">
         <strong ng-bind="error"></strong>
       </div>
     </fieldset>
   </form>
  </div>
</section>
