<section class="row" style="background-color: white" ng-controller="">

    <div class="col-xs-12">
    <div class="row paddingEveryRow" style="padding-top: 4%;"">
        <h1><b>Membership</b></h1>
    </div>
    <hr>
     <div class="row paddingEveryRow">
        <h3><b>Current Plans</b></h3>
     	<div class="col-md-6 p-l-none">
     		<h5><b>Free</b></h5>
     		<p>$0 per month</p>
     		<button type="button" class="btn">Manage</button>
     	</div>
     	<div class="col-md-6 p-l-none">
     		<h5><b>Billing Information</b></h5>
     		<div style="display: inline-flex;">
     			<a href="#">View Transaction History</a>&nbsp|&nbsp
     		    <a href="#">Manage Payment Methods</a>
     		</div>
     		
     	</div>
     </div>
     
      <div class="row paddingEveryRow">
        <div class="alert alert-success" style="padding: 1%;">
          <strong>You are eligible for free Professional Membership.</strong> To claim your free 1 month trial, <span><a href="#">click here</a></span>
        </div>
     </div>

    </div>

</section>
