<!-- <section class="container-fluid-none" ng-controller="SettingsController" style="background-color: #ebebeb;"> -->
<section ng-controller="SettingsController">

 <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 row settingpage m-l-none m-r-none m-lnegtv-row m-rnegtv-none">
    <nav class="col-xs-12 col-md-3">
        <ul class="nav nav-stacked text-left">
          <li class="list-width" ng-class="{active : $state.includes('settings.profile')}"><a ui-sref="settings.profile"><i class="fa fa-user"></i> 프로필</a></li>
          <li class="list-width" ng-class="{active : $state.includes('settings.notifications')}"><a ui-sref="settings.notifications"><i class="fa fa-bell"></i> 알림</a></li>
          <!-- <li class="list-width"><a ui-sref="settings.membership">Membership</a></li> -->
          <li class="list-width" ng-class="{active : $state.includes('settings.password')}"><a ui-sref="settings.password"><i class="fa fa-unlock"></i>비밀번호</a></li>
          <!-- <li><a ui-sref="#">Payment & Financials</a></li> -->
          <li class="list-width" ng-class="{active : $state.includes('settings.account')}"><a ui-sref="settings.account">계정</a></li>
        </ul>
    </nav>
  <div class="col-xs-12 col-md-9 settings-view">

    <div ui-view></div>
  </div>
</div>
</section>
