<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">아웃소싱 오케이 이용자 수칙</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section autoscroll="true" class="container-fluid p-ml-none p-mr-none" ng-controller="ProjectsController">
  <br><br>
    <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid text-justify p-ml-none p-mr-none term_box" aria-label="Content" style="margin-top:20px;margin-bottom:70px;"><br>
       <div class="col-xs-12 thumbnail bordortop_styling">
            <h2 class="h2-mobile-font"><strong>이용자 수칙</strong></h2>
            <p style="font-size:16px">주식회사 잡콜미가 운영하는 회사(이하 "회사")는 기업에 대한 사회의 기대를 충족케 하기 위해서 적용 가능한 모든 규칙, 규정 및 법률에 따라 사업을 수행해야 할 당연한 의무라고 생각합니다. "회사"는  모든 "회원"들이 신뢰와 존중을 유지하는 방식으로 행동하도록 돕기 위해 책임을 다하고자 노력 합니다. 본 "이용자 수칙"은 "회사" 사이트를 문제없이 "회원"들이 이용하기 위한 "이용자 수칙" 사항을 준수 해야 할 규정함을 목적으로 합니다.본 "이용자 수칙"과 정책 및 절차를 위반하면 계정해지 및 징계 조치가 내려 질 수 있습니다. 본 "이용자 수칙"에 관련하여 문의 사항은 "회사" 정보책임 지원 부서 전화번호 02-2058-0137 로 문의하시길 바랍니다. "회사" 법무 지원 부서에서는 올바른 절차에 관한 추가 정보를 제공하고 발생할 수있는 궁금증을 해결해 드릴 수 있습니다."회원"은 본 "이용자 수칙"에 동의하고 "회사"("회사" 운영 웹사이트 https://www.outsourcingok.com를 포함한 아웃소싱 오케이 관리 및 운영하는 웹사이트 및 어플리케이션 등 서비스 플랫폼 일체를 의미함)의 회원가입 절차를 완료한 자를 의미합니다. 특히 14세 미만 아동은 절대로 회원에 가입 할 수 없습니다. 설령 가입될경우에도 강제 회원탈퇴 조치됩니다.</p>
        </div>
		
       <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
          <div class="col-xs-12 col-md-6">
           <div class="list-first">
             <h3 class="font-mobile">1."회원" 의무</h3>
             <ul class="list-unstyled" style="line-height: 30px;">
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 진실하고 정직한 거래 해야 합니다.</li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 회사의 모든 정책 을 준수 해야 합니다.</li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 모든 사용자의 권리를 존중 해야 합니다.</li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 기밀 정보를 누설하거나 다른 불법적 인 관행에 절대로 참여하면 안됩니다.</li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 모든 사용자들에게 괴롭히거나 차별 하면 안됩니다.</li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 사용자의 이익ㆍ권리와 안전을 존중 해야 합니다. </li>
                 <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 내 자신이나 다른 신원을 절대로 위조 하지 않으며 진실하고 정확한 정보를 제공 해야 합니다.</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
           <div class="list-right">
            <h3 class="font-mobile">2.사용자 콘텐츠</h3>
            <strong style="line-height: 39px;"><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 회사에 게시 한 내용에 대해 책임을 집니다.:</strong>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 저작권이나 기타 지적 재산권을 </strong> 침해하는 콘텐츠는 절대로 게시하면 안됩니다.</li>
                <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은 법률이나 규정 을 위반하는</strong> 콘텐츠는 절대로 게시하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 명예 훼손적인</strong> 콘텐츠는 절대로 게시하면 안됩니다..</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 도박ㆍ마약ㆍ음란물이거나 아동 음란물을 포함 하는</strong> 모든 불법 콘텐츠는 절대로 게시하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 다른 사람에 관하여 험담하고, 틀리거나 부정확 한 정보 를 </strong> 포함하는 내용등을 절대로 게시하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 모든 시스템을 손상시키려는 바이러스 또는 프로그래밍 루틴 이 포함 된</strong> 콘텐츠는 절대로 게시하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 "지원자"에 대한 책임과 의무를 다하며 사업 운영이나 명성에 해를 끼치는 </strong> 콘텐츠는 절대로 게시하면 안됩니다.</li>
            </ul>
        </div>
          </div>
  <br><br>	        
        </div>
         <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
          <div class="col-xs-12 col-md-6">
          <div class="sec-list">
            <h3 class="font-mobile">3.허위 및 불법관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은 </strong> 위반 사항이 있을 경우 바로 보고 해야 합니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 허위 및 불법 행위를 절대로하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 여러 개의 계정을 만들면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 불법적으로 송금하기 위해이 사이트를 절대로 사용 하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 사이트를 사용하여 허위 피드백을 절대로 생성 하면 안됩니다.</li>
            </ul>
        </div>
          </div>
          <div class="col-xs-12 col-md-6">
           <div class="sec-right">
            <h3 class="font-mobile">4.통신관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 과장하거나 비하적인말, 부적절한 언급등을 절대로 하면 안됩니다.</li>
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은은</strong> 개인적인 공격, 부정적인 또는 다른 불공정 한 비판 또는 다른 비전문가 행동에 관여하면 안됩니다.       </li></ul>
          </div>
          </div>
<br><br>	          
        </div>
         <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
          <div class="col-xs-12 col-md-6">
            <div class="thrd-first">
            <h3 class="font-mobile">5.콘테스트 및 프로젝트지원(입찰)관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은</strong> 수수료를 피하기 위해 지원(입찰)금액을 낮게하면 안됩니다.
				 </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은</strong> 수수료를 피하기 위해 직접 거래를 하면 안됩니다.
                </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은</strong> 불법 행동과 관련된 일체의 프로젝트와 콘테스트 및 각종 생활 편의 서비스 채용에 절대로 참여하면 안됩니다.
            </li></ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
         <div class="thrd-right">
            <h3 class="font-mobile">6.스팸 및 광고 관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
              <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 웹 사이트내에 어떠한 스팸 및 광고를 절대로 하면 안됩니다.
              </li>
			  <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 메일 주소록, 그룹 이메일 등에서 원치 않는 스펨 이메일을 보내면 안됩니다.
            </li>
            </ul>
        </div>
          </div>
          </div>
<br><br>	
         <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
          <div class="col-xs-12 col-md-6">
            <div class="thrd-first">
            <h3 class="font-mobile">7.비밀유지 관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은</strong> 타인에게 프로젝트에 관련하여 누설하지 않고 비밀유지를 지켜야 합니다.
                </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>회원은</strong> 법에 따라 승인이있는 경우를 제외하고 본인이 취득한 정보나 문서를 공개하면 안됩니다.
            </li></ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
         <div class="thrd-right">
            <h3 class="font-mobile">8.연락 이용 관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
              <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 다른 프리랜서 사용자에게 개인 연락처 정보를 요청 하면 안되며 공식 웹 사이트 기능을 통해서만 연락해야 합니다.
			  <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 다른 사용자에게 대면 미팅을 요청 할 경우 게약전까지  미팅장소는 주식회사 잡콜미(아웃소싱오케이) 회의실 이외의 장소에서 만나면 안됩니다.
              </li>
              </li>
            </ul>
        </div>
          </div>
        </div>
<br><br>	
         <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
          <div class="col-xs-12 col-md-6">
           <div class="fourth-first">
            <h3 class="font-mobile">9.제휴 관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> 회원은</strong> 제휴 프로그램(이벤트, 쿠폰, 할인, 행사등)에 관련하여 언급 하면 안됩니다.
                </li>
               </ul>
       
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="fourth-right">
            <h3 class="font-mobile">10.결재 지불 관련</h3>
            <ul class="list-unstyled" style="line-height: 39px;">
                <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>  회원은</strong> 회사를 통해서 불법적인 자금 거래를 하면 안됩니다.
            </li></ul>
		  </div>
          </div>
          
        </div>
  </div>
</section>
