<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">회원 고객문의 및 투자제휴</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section ng-controller="FooterController">

  
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-mr-none p-ml-none" style="padding-bottom: 20px;">
  
  <h3 class="h2-mobil-landing" style="padding-top:50px"><b>회원 고객 문의 및 투자제휴</b></h1>
    <form name="contact-form">
      <div class="col-xs-12 col-sm-12 col-md-8 form-line p-mall-none" style="padding: 10px 100px 20px 0px"> 
          <!-- <div class="form-group">
            <label for="exampleInputEmail">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
          </div>   -->
            <div class="form-group">
              <label for="exampleInputUsername">제목</label>
              <input type="text" class="form-control" id="" placeholder="회원님의 문의 제목을 입력 하시길 바랍니다" ng-model="subject">
            </div>
            <div class="form-group">
              <label for ="description">문의 내용</label>
              <textarea  class="form-control" rows="20" ng-model="message" placeholder="회원님의 문의 내용을 작성 하시길 바랍니다"></textarea>
            </div><br>
            
          <!-- <div vc-recaptcha class="captcha" key="'6Lc-GC4UAAAAABe1SMECofBM4Ud4ny--PxNDDkzZ'" ng-model="captchaResponse" size="normal" ></div>
          <p ng-show="captchaResponse==undefined && yourForm.$submitted" class="form-error">
            귀하가 로못이 아니라는 것을 확인 하시길 바랍니다
          </p> -->
          <button ng-if="!isLoading" type="submit" class="btn btn-info btn-lg" ng-click="contactForm();" ng-disabled="!subject || !message" > 보내기</button>

          <div class="text-center" ng-if="isLoading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> <h4 class="text-primary"> <br> Please wait...</h4>
          </div>

          <div ng-if="msg && !isLoading">
            <center>
              <h3 class="text-primary">감사합니다. 메일을 성공적으로 보냈습니다.</h3>
              <p class="text-success"> 빠른 시간내에 답변드리겠습니다.</p>
            </center>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 p-ml-none">
          
           <h5><b>회사명: 주식회사 잡콜미</b></h5>
               <h6><b>Registered office</b></h6>
               <address class="contactInfo-address">
                   <!-- Level 20, World Square<br/>
                   680 George Street<br />
                   Sydney, New South Wales<br/>
                   Australia 2000<br/>
                   ACN 134 845 748 -->

                   서울시 서초구<br/>
                   논현로 27길 39<br/>
				   (천일빌딩 2층 양재동88-11)06746<br/>
                   사업자 등록번호: 201-86-41011<br/>
				   전화번호: 070-7770-0967
               </address>
               <a class="contactInfo-link" href="mailto:admin@OutsoucingOk.com">admin@outsourcingok.com</a> 
                      <br><br><br><br><br><br>
               <ul class="social-network social-circle">
                   <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                 
        </ul>

      </div>
    </form>
   
  </div>
</section>


 