<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;">아웃소싱 오케이 이용료 및 수수료</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section autoscroll="true" ng-controller="ProjectsController">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid about-security-feesandcharges p-ml-none p-mr-none term_box" style="margin-top:20px;margin-bottom:70px;"><br>
    <h2 class="about-security-feesandcharges-title">아웃소싱오케이 이용료 및 수수료 </h2>
    <hr>
    <section>
      <h3 class="fee-prjct-section"><b>1."의뢰인"을 위한 이용료 및 수수료 안내</b></h3>
      <section class="fee-prjct-section"><br>
        <h4 class="h3-mobile-font">
          <a name="projectfees"></a></b></h3>
          <strong>"의뢰인"의 프로젝트 무료 등록 </strong>
        </h3>
        <p class="text-justify list-setng-fee">
          의뢰인께서는 먼저 아웃소싱오케이 회원에 가입을 하신 후에 "프로젝트, 콘테스트, 각종 생활관련 서비스 채용"(이하 "프로젝트")을 무료등록을 한후 프리랜서로부터 지원을 받을 수 있습니다.
		  프리랜서의 프로필과 포트폴리오를 검토 할 수 있고 "프로젝트" 요구 사항에 대해 언제 어디서나 화상채팅으로 실시간 "프리랜서"들과 자유롭게 상담을 할 수 있습니다. 다만 화상채팅 서비스를 구매 할 경우에만 적용되며 기타 수수료에 관련된 "화상채팅", "개인서비스", "추천", "하이라이트", "비공개", "비공개 계약(NDA)", "긴급상황", "콘테스트의 수상보장(Guarantee)" 이외에는 "의뢰인"께서는 언제 어디든지 제한 없이 무료로 이용 할 수 있으며 "프로젝트" 계약 및 완료까지 모든 이용요금은 무료(VAT별도, "프로젝트" 비용만 부담)이며 수수료가 일체 없습니다.</p>
        </p>
        <p class="text-justify list-setng-fee">
          "의뢰인"께서 원하는 대로 고정 금액(부가세 별도) 또는 시간제 금액(부가세 별도)에 상관없이 무료 등록을 할 수 있습니다.
        </p>
        <p class="text-justify list-setng-fee">
          "프로젝트"가 승인 된 후 최대 7 일 동안 언제든지 대시 보드에서 "프로젝트"를 취소 할 수 있습니다.
		 </p>

		 </section><br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><a name="contestfees"></a><b>"의뢰인"의 화상 채팅 이용 요금</b></h4>
        <p class="text-justify list-setng-fee">
          화상채팅을 이용 할 경우 "의뢰인"은 "프로젝트" 건별(건당)로 화상채팅 이용료 5,000원(부가세 별도)이 부과되며 구매한 시간에 상관 없이 구매하신 당일부터 계산되어 30일간만 이용 할 수 있으며 사용기간 30일 지나면 사용 할 수 없으며 재구매를 해야합니다.
        </p>
		<p class="text-justify list-setng-fee">
          "의뢰인"께서 다수의 "프로젝트"를 무료등록을 하여도 화상채팅을 이용 할 경우 "프로젝트 건별(건당)"로 화상 채팅 이용료 5,000원(부가세 별도)이 부과되며 "프로젝트" 건별로 구매 해야 합니다.
        </p>
		<p class="text-justify list-setng-fee">
          "의뢰인"께서 구매하신 "개인서비스", "추천", "하이라이트", "비공개", "비공개 계약(NDA)", "긴급상황", "콘테스트의 수상보장(Guarantee)" 및 "화상채팅" 이용은 실시간으로 운영 되기 때문에 "의뢰인"께서 구매로 인하여 지불한 서비스 이용료(부가세 별도) 는 취소 및 환불 되지 않으니 신중하게 구매해야 합니다.
      </section><br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><a name="contestfees"></a><b>"의뢰인"의 "콘테스트" 등록 관련 수수료 요금(부가세 별도)</b></h4>
        <p class="text-justify list-setng-fee">
          "콘테스트"를 등록 할 때 "의뢰인"은 총 콘테스트 상금과 동일한 금액을 "에스크로 결제 시스템"을 통해서 "예치"해야하며 "의뢰인"이 취소할 경우 본 상금에 대해 환불 할 수 있습니다. 다만 취소날짜부터 30일 경과후에 고객지원팀에 문의하시면 환불을 받을 수 있습니다
        </p>        
        <p class="text-justify list-setng-fee">
          "콘테스트의 수상보장(Guaranteed contests)"에서는 환불을 받을 수 없으며, "의뢰인"께서 이미 공모작을 "수상자"로 선택하고 "수상자"가 콘테스트 작업을 완료하고 "수상자"에게 상금을 지급 한 경우는 환불을 받을 수 없습니다,"의뢰인"께서는 신중히 선택해서 결정해야 합니다.
        </p>

        <p class="text-justify list-setng-fee">"의뢰인"이 필요한 콘테스트를 등록하고 상금을 수여하기 위한 콘테스트 등록은 무료 입니다.</p>
        <p class="text-justify list-setng-fee">"의뢰인"께서 해당 콘테스트 공모전에 차기 수상자를 추가로 수여 할 경우 해당 공모전에 대한 상금을 추가로 지불 해야 합니다.</p>

      </section>
      <section class="fee-prjct-section"><br>
        <h4 class="h3-mobile-font"><b>각종 생활관련 서비스 채용 수수료 요금(부가세 별도)</b></h4>

        <p class="text-justify list-setng-fee">
          "각종 생활관련 채용 서비스"는 무료 등록이며 "의뢰인"에게 수수료가 부과되지 않습니다, "의뢰인"께서는 총 서비스 채용 임금을(부가세 별도)을 "에스크로 결제 시스템"을 통해서 예치해야 되며 에스크로 결제 시스템을 통해서 예치된 금액은 아웃소싱오케이에서 안전하게 보호됩니다. 100% 만족하시면 "프리랜서"에게 "지급 승인"만 해주면 됩니다.
        </p>
		
      </section>
    
<br>
    <section class="fee-prjct-section">
      <h3 class="fee-prjct-section"><b>2."프리랜서"를 위한 이용료와 수수료 안내</b></h3>
      <p class="text-justify list-setng-fee">
        "프리랜서"께서는 먼저 아웃소싱오케이 회원에 가입을 하신 후에 프로필을 작성하여 관심있는 프로젝트를 선택하고, 포트폴리오를 업로드하고, 프로젝트 알림을 받고, "의뢰인"과 "프로젝트" 세부 정보를 논의하고, "프로젝트" 제안(입찰)에 지원합니다.
	 </p>
	 </section>

	 <br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b>"프리랜서" 지원 횟수 추가 요청 안내</b></h4>
        <p class="text-justify list-setng-fee">
          일부 "프리랜서"들의 무분별한 프로젝트 지원/입찰을 방지하기 위해 지원 횟수를 300번으로 제한하고있습니다,
          </p>
		  <p> 지원/입찰 횟수가 300번이 넘을경우 추가비용2,000원(부가세별도)을 구매하시면 50회까지 추가 지원 할 수 있습니다.</p>	          

          </section>

<br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b>"프리랜서"의 "프로젝트" 이용료와 수수료 요금</b></h4>
        <p class="text-justify list-setng-fee">
          고정 금액 또는 시간제 금액에 상관없이 "프로젝트"를 지원할 경우 "프로젝트" 지원 및 화상채팅 이용은 무료이며, "의뢰인"의 "프로젝트"를 수락하고 동의하면, "기업"인 경우 총 "프로젝트"비용에서 수수료 7% (부가세 별도)를 차감하고 지급되며, "개인" 인 경우 총 "프로젝트" 비용에서 수수료 7% (부가세 별도)와 원천징수 3.3% 를 차감하고 지급 됩니다.
          </p>
		  <p> [계산 방법]프로젝트 금액이 100만원일 경우 </p>
		   <p>"의뢰인"의 결제 금액 : 110만원 (100만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 기업인 경우 102만3000원 (아웃소싱 이용요금을 제한 "프로젝트" 금액 93만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 개인인 경우 89만9310원 (아웃소싱 이용요금을 제한 "프로젝트" 금액 93만원 -원천징수 3.3% 공제)</p>
		 
         

          </section>
<br>
          <section class="fee-prjct-section">
            <h4 class="h3-mobile-font"><b>"프리랜서"의 "콘테스트" 이용료와 수수료 안내</b></h4>
            <p class="text-justify  list-setng-fee">
              "콘테스트"에 "프리랜서"로 지원하는 것은 무료이며, "콘테스트" 수수료 요금은 콘테스트 상금이 수여 될때 적용됩니다. "의뢰인"이 "콘테스트" 상금을 수여할때 "기업"인 경우 수수료 10% (부가세 별도)를 차감하고 지급되며, "개인"인 경우 총 "콘테스트" 상금에서 수수료 10% (부가세 별도)와 원천징수 3.3% 를 차감하고 지급 됩니다.
            </p>
			<p> [계산 방법]콘테스트 상금액이 100만원일때 </p>
		   <p>"의뢰인"의 결제 금액 : 110만원 (100만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 기업인 경우 99만원 (아웃소싱 이용요금을 제한 컨테테스트 상금액 90만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 개인인 경우 87만원 (아웃소싱 이용요금을 제한 컨테테스트 상금액 90만원 -원천징수 3.3% 공제)</p>
		 

          </section>
<br>
          <section class="fee-prjct-section">
            <h4 class="h3-mobile-font"><b>각종 생활관련 서비스 채용 이용료와 수수료 안내</b></h4>
            <p class="text-justify list-setng-fee">
              "프리랜서"는 의뢰인의 서비스를 수행하기 위해 채용되면, "기업"인 경우 총 서비스 채용 임금에서 수수료 15% (부가가치세 별도)를 차감하고 지급되며, 개인인 경우 총 서비스 채용 비용에서 수수료 15% (부가가치세 별도)와 원천징수 3.3% 를 차감하고 지급 됩니다.
            </p>
			<p> [계산 방법]채용 금액이 100만원일때 </p>
		   <p>"의뢰인"의 결제 금액 : 110만원 (100만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 기업인 경우 93만5000원 (아웃소싱 이용요금을 제한 컨테테스트 상금액 85만원 + VAT 10%)</p>
		   <p>"프리랜서"의 수령 금액 : 개인인 경우 82만1950원 (아웃소싱 이용요금을 제한 컨테테스트 상금액 85만원 -원천징수 3.3% 공제)</p>
          </section>          
          
        </section>

        <!-- next -->
<br>

		<br>
    <section class="fee-prjct-section">
      <h3 class="fee-prjct-section"><b>3.페이팔(PayPal)사용관련 수수료 안내 </b></h3>      
	 </section>

	 <br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b>"페이팔(PayPal)" 결제 수수료 안내</b></h4>
        <p class="text-justify list-setng-fee">
          페이팔(PayPal)사용시 국내외 모든 회원은 신용카드를 사용할때는 현금과 동일하게 카드 수수료가 발생되지 않습니다. 단 회원님께서 페이팔(PayPal)로 지불할 경우 페이팔(PayPal) 정책에 따라 부과되는 수수료는 회원님이 부담하셔야 합니다.
          </p>
		  <p> 페일팔(PayPal) 수수료는 페이팔(PayPal) 정책에 따라 회원님께 부과되며 아웃소싱 오케이와는 아무런 상관이 없습니다.</p>	          

          </section>


        <!-- next -->
        
<br>
        <!-- table 1  -->
        <section class="fee-prjct-section">
		  <h3 class="fee-prjct-section"><b>4. 기타 수수료</b></h3>
         
<br><br>

			<h4 class="h3-mobile-font"><a name="projectupgrades"></a><b>화상채팅</b></h4>
          <p class="text-justify list-setng-fee">
            다음 화상채팅 서비스 요금은 건당 선택적으로 추가 서비스 비용이 부과됩니다. :
          </p>


          <div class="container-fluid  profile_container bordortop_styling ">        
            <div class="row returnslables div-background">
              <div class="col-xs-6">
                <span>화상채팅 30일 이용료/프로젝트ㆍ콘테스트ㆍ채용 등록 건당</span> 
              </div>
              <div class="col-xs-6">
                <span><strong>5,000원(부가세 별도)</strong></span>
              </div>
            </div>

          </div>



          <h4 class="h3-mobile-font"><a name="projectupgrades"></a><b>프로젝트</b></h4><br>
          <p class="text-justify list-setng-fee">
            다음 서비스 요금은 선택적으로 추가 서비스 비용이 부과됩니다. :
          </p><br>


          <div class="container-fluid  profile_container bordortop_styling ">        
            <div class="row returnslables div-background">
              <div class="col-xs-6">
                <span>프로젝트 등록</span> 
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>긴급</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Urgent" uib-popover="Marks a project as urgent. Receive a faster response from Freelancers to get your project started within 24 hours." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원(부가세 별도)</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>비공개</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Priate" uib-popover="Hide project details from search engines and users that are not logged in. Recommended for projects where confidentiality is a must" popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>


            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>채용</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Recruiter" uib-popover="Our agent will clarify the project with you if necessary and will recommend a bidder based on your project requirements and the online bidder profile. The agent may also invite more freelancers to bid." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>개인서비스</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="NDA" uib-popover="OutsourcingOk are prompted to sign a Non-Disclosure Agreement when working on a project. Freelancers agree to keep details discussed through private messages and files confidential." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>추천</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

			 <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>하이라이트</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

			<div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>비공개계약(NDA)</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

			 

            

          </div>
          <!-- table 2-->

          <h3 class="FeesAndCharges-subsection-title"><a name="contestupgrades"></a><b>콘테스트 등록</b></h3><br>
          <p class="text-justify list-setng-fee">
            다음 서비스 요금은 선택적으로 추가 서비스 비용이 부과됩니다.:
          </p><br>
          <div class="container-fluid  profile_container bordortop_styling ">       
            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>콘테스트 등록</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Posting a Contest" uib-popover="Free to post a contest and receive entries. A monetary prize must be paid upfront to release as payment for work provided. Optional contest upgrades incur additional costs. Employers are eligible for a 100% money back guarantee." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i>  
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>개인서비스</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Awarding contest" uib-popover="There are no fees for awarding a prize for a contest entry. Employer will be transferred to the handover process to legally transfer ownership of the files." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>부상 추가 수여</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Awarding to additional freelancers" uib-popover="There are no fees for awarding additional entries a prize. Payment must be provided equal to the original prize amount for each additional entry awarded." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>수상보장(Guarantee)</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Guaranteed" uib-popover="Guarantee freelancers that a winner will be chosen and awarded the prize. This will attract better entries from more freelancers. The money back guarantee is not applicable for Guaranteed contests.." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>추천</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Featured" uib-popover="Featured contests attract more, higher-quality entries." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>하이라이트</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Top Contest" uib-popover="Get high quality entries! Top freelancers will be automatically invited to join your contest." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>



            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>긴급</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Urgent" uib-popover="Receive a faster response from freelancers and get your favorite entry in 1-2 days. Your contest will be guaranteed to make sure you get fast results." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>비공개계약(NDA)</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Only you can see all the entries. Each freelancer can only see their own entry. It ensures you get unique ideas." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>
            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>비공개</span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="private" uib-popover="Keep your contest confidential. Private contests are hidden from search engines and public users." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong>1,000 (부가세 별도)</strong></span>
              </div>
            </div>

         </div>   

<br> <br>                

          <!-- table 4 -->

          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b>콘테스트 대회 참가비</b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>참가비용</span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i> -->  
              </div>
              <div class="col-xs-6">
                <span><strong>무료</strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>비공개 제출</span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong>1,000원 (부가세 별도)</strong></span>
              </div>
            </div>
            
          </div> 

          <!-- table 5 -->

           
<br><br>
          <!-- table 6 -->
          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b>지원 50번 횟수 비용</b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">
            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>지원 50번 횟수 추가</span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong>2,000원 (부가세 별도)</strong></span>
              </div>
            </div>
          </div> 
           
<br><br>
          <!-- table 6 -->
          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b>송금 수수료</b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">
            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>국제 전신 송금</span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong>25,000원 (부가세 별도)</strong></span>
              </div>
            </div>

			<div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span>페이팔(PayPal) 수수료</span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong>회원님 부담</strong></span>
              </div>
            </div>

          </div> 

          <!-- table 7 -->
<br><br>
          <section>
            <h4 class="h3-mobile-font"><b>"의뢰인"이 "프리랜서"에게 지급된 "프로젝트<span style="color:red">(콘테스트 및 채용 대금지불관련 제외)</span>" 대금이 500만원(오백만원) 이상 1억원(일억원)미만 중재 비용 지원</b></h4>
            
            
            <p class="text-justify list-setng-fee">
              대한상사중재원은 중재법에 의거하여 설립된 상설 법정 기관입니다.해당 분야의 전문가인 중재인의 전문적인 판단을 받을 수 있어 신속하고 정확하게 분쟁을 해결할 수 있습니다.
            </p>
            <p class="text-justify list-setng-fee">
              해당 분야의 전문가인 중재인의 전문적인 판단을 받을 수 있어 신속하고 정확하게 분쟁을 해결할 수 있습니다.
            </p>
			<p class="text-justify list-setng-fee">
              대한상사중재원의 판결은 대법원 확정판결과 동일한 효력을 가지며, 기업의 비밀을 보장해 주는 비공개 심리로 진행됩니다.
            </p>
			<p class="text-justify list-setng-fee">
              지원 금액은 "프리랜서"에게 지급된 "프로젝트" 대금이 500만원(오백만원)이상 1억원(일억원)미만까지이며 이미 지급 받은 중개/관리 수수료의 
1/3을 초과할 수 없습니다. 지원한도를 초과하는 비용에 대해서는 대한 상사 중재원의 중재 규칙에 따릅니다.
지원 금액은 "프리랜서"에게 지급된 "프로젝트" 대금이 500만원(오백만원)이상 1억원(일억원)미만까지이며 이미 지급 받은 중개/관리 수수료의
 1/3을 초과할 수 없습니다. 지원한도를 초과하는 비용에 대해서는 대한 상사 중재원의 중재 규칙에 따릅니다.
            </p>
          </section>
          <!-- last table -->
<br><br>
          <section>
            <h4 class="h3-mobile-font"><b>"프리랜서" "프로젝트" 대금지급 관련 세금</b></h4>
            <p class="text-justify list-setng-fee">
              "프로젝트"가 완료되면 등록하신 은행계좌로 아웃소싱오케이 수수료 요금을 제외한 대금이 지급됩니다.</p>
            <p class="text-justify list-setng-fee">
			 1. 개인사업자/법인사업자 프리랜서</p>			
			<p class="text-justify list-setng-fee">
              · 지급받을 금액에 대한 세금계산서 발행이 필요합니다.
            </p>
			<p class="text-justify list-setng-fee">
              · 프로젝트 완료 승인 후, 수수료7%를 차감하고 24시간 이내에 지급됩니다.
            </p>
			<p class="text-justify list-setng-fee">
              2. 개인 프리랜서
            </p>
			<p class="text-justify list-setng-fee">
              · 원천징수 3.3%와 수수료7%를 제한 금액이 지급되며, 아웃소싱오케이에서 세금신고를 대행해 드립니다.
            </p>
			<p class="text-justify list-setng-fee">
              · 프로젝트 완료 승인 후, 24시간 이내에 지급됩니다.
            </p>
          </section>

		  <section>
            <h4 class="h3-mobile-font"><b>"프리랜서" "콘테스트" 상금지급 관련 세금</b></h4>
            <p class="text-justify list-setng-fee">
              "콘테스트"가 완료되면 등록하신 은행계좌로 아웃소싱오케이 수수료 요금을 제외한 상금이 지급됩니다.</p>
            <p class="text-justify list-setng-fee">
			 1. 개인사업자/법인사업자 프리랜서</p>			
			<p class="text-justify list-setng-fee">
              · 지급받을 상금에 대한 세금계산서 발행이 필요합니다.
            </p>
			<p class="text-justify list-setng-fee">
              · "콘테스트" 완료 및 모든 권리 양도 후, 수수료10%를 차감하고 24시간 이내에 지급됩니다.
            </p>
			<p class="text-justify list-setng-fee">
              2. 개인 프리랜서
            </p>
			<p class="text-justify list-setng-fee">
              · "콘테스트" 완료 및 모든 권리 양도 후, 원천징수 3.3%와 수수료10%를 제한 상금이 지급되며, 아웃소싱오케이에서 세금신고를 대행해 드립니다.
            </p>
			<p class="text-justify list-setng-fee">
              · "콘테스트" 완료 및 모든 권리 양도 후, 24시간 이내에 지급됩니다.
            </p>
          </section>

          <section>
            <h4 class="h3-mobile-font"><b>사용자 동의서</b></h4>
            <p class="text-justify list-setng-fee">
              이 페이지에 요약 된 비용 및 요금은 아웃소싱오케이
              <a ui-sref="term-condition">사용자 동의서</a> 및 관련 사이트 정책의 조항에 의거합니다 . 이용약관에는 다른 중요한 조항이 포함되어 있기 때문에 전체 내용을 꼭 읽어야합니다. 
            </p><br><br>
          </section>
        </section> 
      </div>
    </section>
