<section ng-controller="ProjectsController">


<dir style="padding: 20px 20px 0px 20px">
  <center>
      <h1 style="font-size: 60px; font-weight: bold;">In The News</h1>
      <p>Check what the press is saying about freelancer all over the world. You can find news articles, interviews and much more</p>
  </center>
</dir>
 
                     <br><br>
  <ul class="nav nav-tabs nav-justified" style="width: 100%">
    <li class="active"><a data-toggle="tab" href="#2017">2017</a></li>
      <li><a data-toggle="tab" href="#2016">2016</a></li>
     <li><a data-toggle="tab" href="#2015">2015</a></li>
     <li><a data-toggle="tab" href="#2014">2014</a></li>
     <li><a data-toggle="tab" href="#2013">2013</a></li>
     <li><a data-toggle="tab" href="#2012">2012</a></li>
     <li><a data-toggle="tab" href="#2011">2011</a></li>
     <li><a data-toggle="tab" href="#2010">2010</a></li>
     <li><a data-toggle="tab" href="#2009">2009</a></li>
  </ul>

  <div class="container tab-content">
   
    <div id="2017" class="tab-pane fade in active">
      <strong><h1 class="heading1">2017</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

   </div>

<!-- 2016 -->
    <div id="2016" class="tab-pane fade">
      <strong><h1 class="heading1">2016</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

    </div>

    <!-- 2015 -->
       <div id="2015" class="tab-pane fade">
         <strong><h1 class="heading1">2015</h1></strong>

         <dir class="row">
            <div class="col-md-6">
              <dir class="col-md-4">
                <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
              </dir>
            <div class=" col-md-8">
              <br><br>
                 <span class="press-datePosted">25th April, 2017</span><br><br>
                 <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
            </div>
           </div>
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
         </dir>

          <dir class="row">
              <div class="col-md-6">
                <dir class="col-md-4">
                  <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
                </dir>
              <div class=" col-md-8">
                <br><br>
                   <span class="press-datePosted">25th April, 2017</span><br><br>
                   <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
              </div>
             </div>
           <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
          </div>
         </dir>

       </div>
    <!-- 2014 -->
       <div id="2014" class="tab-pane fade">
         <strong><h1 class="heading1">2014</h1></strong>

         <dir class="row">
            <div class="col-md-6">
              <dir class="col-md-4">
                <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
              </dir>
            <div class=" col-md-8">
              <br><br>
                 <span class="press-datePosted">25th April, 2017</span><br><br>
                 <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
            </div>
           </div>
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
         </dir>

          <dir class="row">
              <div class="col-md-6">
                <dir class="col-md-4">
                  <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
                </dir>
              <div class=" col-md-8">
                <br><br>
                   <span class="press-datePosted">25th April, 2017</span><br><br>
                   <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
              </div>
             </div>
           <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
          </div>
         </dir>

       </div>

 <!-- 2013 -->

    <div id="2013" class="tab-pane fade">
      <strong><h1 class="heading1">2013</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

    </div>

 <!-- 2012 -->

    <div id="2012" class="tab-pane fade">
      <strong><h1 class="heading1">2012</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

    </div>
         <!-- 2011 -->
     <div id="2011" class="tab-pane fade">
       <strong><h1 class="heading1">2011</h1></strong>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
       </dir>

        <dir class="row">
            <div class="col-md-6">
              <dir class="col-md-4">
                <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
              </dir>
            <div class=" col-md-8">
              <br><br>
                 <span class="press-datePosted">25th April, 2017</span><br><br>
                 <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
            </div>
           </div>
         <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
            <div class=" col-md-8">
          <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
             </div>
        </div>
       </dir>

     </div>

     <!-- 2010 -->
    <div id="2010" class="tab-pane fade">
      <strong><h1 class="heading1">2010</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

    </div>
    
        <!-- 2009 -->
    <div id="2009" class="tab-pane fade">
      <strong><h1 class="heading1">2009</h1></strong>

      <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
       <div class="col-md-6">
        <dir class="col-md-4">
          <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
        </dir>
      <div class=" col-md-8">
        <br><br>
           <span class="press-datePosted">25th April, 2017</span><br><br>
           <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
      </div>
      </div>
      </dir>

       <dir class="row">
          <div class="col-md-6">
            <dir class="col-md-4">
              <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
            </dir>
          <div class=" col-md-8">
            <br><br>
               <span class="press-datePosted">25th April, 2017</span><br><br>
               <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
          </div>
         </div>
        <div class="col-md-6">
          <dir class="col-md-4">
            <img class="img-responsive" style="height: 100%" src="https://freelancer-inthenews.s3.amazonaws.com/318157236cef58188528ba4e4385c218/Screen%20Shot%202017-04-25%20at%2012.20.37%20PM.png" alt="Logo">
          </dir>
        <div class=" col-md-8">
          <br><br>
             <span class="press-datePosted">25th April, 2017</span><br><br>
             <a href="#" target="_blank">7 dicas para se destacar como freelancer</a>
        </div>
       </div>
      </dir>

    </div>
 </div>

  <!-- chatWindow -->
 <div  ng-show="authentication.user">
   <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
 </div>
 
</section>


 