<style>
body{    
	background:#fff;
}
</style>
    
	

  



  



<section>
   <!-- part 1 -->

      <div class="row about-overview-backgroundimage">
        <div class="container about-investor-title-setting">
        <br><br><br><br><br>
            <h3 class="investor-heading p-t-sm" style="font-size:35px;">세계최초 국내1위 아웃소싱오케이 실시간 플랫폼</h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br><br><br><br><br><br>
          </div>
      </div>
  

 
 <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">
      <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 소개</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">아웃소싱오케이는 아웃소싱 외주 및 중개 전문 글로벌 사이트입니다.
실시간 화상/채팅으로 의뢰인과 프리랜서를 연결, 프로젝트 콘테스트 진행상황을 직접 확인하실 수 있는 최대 규모 포털사이트입니다. 전 세계 어느 지역에서도 프리랜서분들의 다양한 분야 [ 웹 사이트·소프트웨어·디자인·미디어·데이터 입력·엔지니어링·과학·영업·마케팅·회계·법률·보험 등 ] 각종 개발관련 서비스를 포함하여 모든 분야에서 필요한 프리랜서를 아웃소싱오케이를 통해 인터뷰 및 지원의 기회를 제공합니다.</p>
       

  
        <br><br><br><br>
       
      </div>

      <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/overview02.PNG">
         
      </div>
  </div>


 <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">

	  <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 세계최초 국내1위 실시간 플랫폼</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">세계 최초 국내 1위 보안 증빙 플랫폼을 이용, 의뢰인·프리랜서가 안전하고 빠르게 거래하실 수 있으며, 상담을 진행하고 문제발생 및 조율이 필요할 경우 아웃소싱오케이 담당자가 도와드립니다. 시대가 빠르게 변화하면서 더 이상 외주 중개업체의 주도적인 회의는 진행하지 않습니다.</p> 
       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_4.jpg">
         
      </div>
  </div>

  <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">
      <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 세계최초 국내1위 안전 대금보호 플랫폼</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">세계최초 국내 1위 안전 예치금 플랫폼 시스템을 통해 프로젝트 대금을 회원이면 누구나 실시간으로 아웃소싱 오케이에서 자체 개발한 ERP로 24시간동안 확인 및 결제승인이 가능하며 안전하게 보호 됩니다.</p>
       
      </div>

      <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_5.jpg">
         
      </div>
  </div>

    <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">


     

      <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 콘테스트 개최</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">세계최초 국내1위 실시간 공개포럼을 통해서 원하시는 디자인을 지원한 프리랜서와 함께 수정·문의·확인 등을 편리하게 진행 하실 수 있습니다. 또한 화상채팅으로 수 많은 지원자들과 동시에 회의가 가능하여 원하는 수상자를 결정 또는 선정하실 수 있습니다.</p>
        
       
      </div>

	   <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_3.jpg">
         
      </div>

      
  </div>

  <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">    
      

	  <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 외주 및 중개업체를 통한 제 3자의 관여?</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">외주 또는 중개업체의 주도로 진행되는 제 3자의 미팅은 금전적 손실이며 제한되어 있지 않은 범위안에서 피해를 받을 수 있습니다. 아웃소싱오케이 내에 플랫폼·공개포럼·화상채팅을 이용하신다면 의뢰인과 프리랜서는 제한없이 상담이 가능하며 제 3자의 개입이 이루어진다면 원하시는 결과물의 완성도가 달라질 수 있습니다. 의뢰인·프리랜서분들에 서로간의 신뢰도를 위해 저희 아웃소싱오케이 본사 회의실에서 직접 방문·미팅·계약이 가능하고, 서로가 모든 결과에 만족하고 아웃소싱오케이와의 의무계약이 이루어지면 대금보호 플랫폼 시스템을 통해 100% 예치금(에스크로)이 안전하게 보호됩니다. </p>
       

  
       
       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_2.jpg">
         
      </div>


  </div>


    <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">

      
      <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 실시간 번역ㆍ통역</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">기존 외부용역업체와 다르게 기다릴 필요없이 원하는 언어번역을 인증된 프리랜서를 통해 아웃소싱 오케이내에 화상채팅 플랫폼을 이용하시면 원하시는 번역·통역 등이 가능합니다. </p>
       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_1.jpg">
         
      </div>

      
  </div>

   <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">

	  <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 검증된 글로벌 프리랜서</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">외주·중개업체로부터 상담이 제한된 프리랜서는 소개 받으실 필요가 없습니다. 아웃소싱 오케이 플랫폼을 이용하시면 의뢰인분들은 모든 분야의 전문 프리랜서를 선택하여 24시간 실시간 화상채팅으로 동시에 상담하실 수 있습니다.</p>
       

  
       
       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_6.jpg">
         
      </div>

  </div>

   <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">

      
      <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 무료등록</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">중개업체로 부터 인원이 제한된 소수의 프리랜서를 소개
받을 필요가 없습니다. 아웃소싱 오케이 실시간 플랫폼을
이용하면 의뢰인께서 무제한으로 모든 분야의 최고의
프리랜서 전문가를 선택해서 언제 어디서든지 24시간
실시간 화상채팅으로 여러명과 함께 동시에 상담할 수 있습니다.</p>
        
       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_7.jpg">
         
      </div>

      
  </div>




 <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">

	  <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 실시간 상담 컨설팅</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">생활속 필요한 법률·지식·보험·인사·회계·구인구직 및 서비스 등 원하시는 모든 상담을 컨설팅 전문가들과 함께 실시간 화상채팅으로 궁금증을 바로 해결할 수 있으며 언제 어디서든 PC 또는 모바일에서도 상담진행이 가능한 세계최초 국내1위 아웃소싱 오케이 플랫폼입니다.</p>
       

  

       
      </div>

	  <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_0.jpg">
         
      </div>

  </div>



   



   

  

 


   <!-- part 2 -->

   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 container-fluid p-ml-none p-mr-none">
      

	  <div class="col-xs-12 col-md-7 p-ml-none p-mr-none">

      <br><br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 안전한 아웃소싱</strong></h3>
       
        <p class="text-justify" style="padding-top:20px">실시간으로 진행되는 화상채팅을 통해 제조회사·프로모션 업체·에이전트와 상담할 수 있으며 예치금(에스크로) 플랫폼 시스템을 이용하여 거래완료까지 아웃소싱 오케이에서 안전하게 보호합니다.</p>
       
      </div>

	   <div class="col-xs-12 col-md-5 p-ml-none p-mr-none" style="padding-top:50px;padding-left:100px;"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/3d_8.jpg">
         
      </div>

  </div>




 

  

  


  <!-- part 3 -->
  <!-- 
      <div class="row"> 
        <img class="img-responsive" width="100%" src="modules/core/client/img/customimages/overview03.PNG" height="50%">
      </div>
 -->

<!-- 4rd div -->
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 m-ml-none m-mr-none">


   <div>
      <div class="container-fluid p-ml-none p-mr-none" style="padding-top:70px;padding-right: 2.5rem; padding-left: 3rem;">
      <br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 글로벌 네트워크</strong></h3>
        
       <br>
      </div>
  </div>
<br><br>
<!-- 5th -->
  <div class="container-fluid p-ml-none p-mr-none text-center" style="padding-right: 2.5rem; padding-left: 3rem;">

      <!-- <iframe src="https://www.youtube.com/embed/tLleo3Lospo?rel=0&autoplay=0&amp;showinfo=0" frameborder="0" width="800" height="500"></iframe> -->
    <img class="img-responsive" src="modules/core/client/img/customimages/world_map2.png">
	
  </div>

<!-- 6th -->
<br><br><br><br><br><br>
<div>
      <div class="container-fluid p-ml-none p-mr-none" style="padding-right: 2.5rem; padding-left: 3rem;">
      <br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 홍보ㆍ프로젝트ㆍ콘테스트 등록 소개</strong></h3>
        
       <br>
      </div>
  </div>
<br><br>
      <div class="container-fluid p-ml-none p-mr-none">
        <div class="col-xs-12 col-sm-6 col-md-4 p-ml-none p-mr-none">
         <div class="porfoli-div p-t-sm" style="text-align: -webkit-center;">
          <a href="#" class="p-b-sm">
            <!-- <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/overview04.PNG" alt="doodle"> --> 
			<iframe src="https://www.youtube.com/embed/tLleo3Lospo?rel=0&autoplay=0&amp;showinfo=0" frameborder="0" width="335" height="255"></iframe>
          </a> 
    
          <center><h5 class="p-l-md">홍보</h5>
         <!-- <p>Find our our press releases under this section</p> -->
          <h3 class="p-l-md"><button class="btn btn-info"><a ui-sref="contests.contest-post" style="color: white;">홍보 자료</a></button></h3> 
          </center> 
        </div>
      </div> 

       <div class="col-xs-12 col-sm-6 col-md-4 p-ml-none p-mr-none p-mt-lg">
         <div class="porfoli-div p-t-sm" style="text-align: -webkit-center;">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/overview05.PNG" alt="doodle"> 
          </a> 
         
          <center><h5 class="p-l-md"> 프로젝트ㆍ컨테스트 등록</h5>
           <!-- <p>Find our our press releases under this section</p> -->
          <h3 class="p-l-md"><button class="btn btn-info" href="#"><a ui-sref="projects.project-post" style="color: white;">무료 등록</a></button></h3> 
          </center> 
        </div>
      </div> 

        <div class="col-xs-12 col-sm-6 col-md-4 p-ml-none p-mr-none p-mt-lg">
         <div class="porfoli-div p-t-sm" style="text-align: -webkit-center;">
            <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/overview06.PNG" alt="doodle"> 
            </a> 
           
         <center><h5 class="p-l-md">구인ㆍ구직 사이트</h5>
           <!-- <p>Find our our press releases under this section</p> -->
          <h3 class="p-l-md" style="color: white;" ><button class="btn btn-info"><!-- <a href="http://203.99.61.173/demos/callme/public/account/jobseeker" target="_blank"> -->바로 가기<!-- </a> --></button></h3>  
          </center> 
        </div>
      </div>
    
    </div>
<br><br><br><br><br>
<!-- 7th -->

    <div class="container-fluid p-ml-none p-mr-none"  class="col-xs-12 col-sm-12 col-md-12 ">
      <div class="col-xs-12 col-sm-6 col-md-7 p-ml-none p-mr-none">
      <br><br>
        <h3><strong><img src="modules/core/client/img/customimages/site_name.png"> 운영 방법</strong></h3><br>
        <p style="text-align: justify">아웃소싱 오케이는 의뢰인분들에게 직접 프로젝트 및 콘테스트를 OutSourcingOk 웹사이트에 언제든지 등록 할 수있게 운영되고 있습니다.우리의 기업목표는 의뢰인들을 위한 자신들의 프로젝트 및 콘테스트를 올릴 수 있는 플랫폼을 제공합니다.</p>
		<p style="text-align: justify">프리랜서들을 검색하여 프로젝트에 대한 지원을 제안하고 프로젝트 완료 후에 의뢰인들은 예치금 결재 시스템을 통해서 프리랜서에게 직접 지급 승인을 합니다.</p>
        <br><br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-2 p-ml-none p-mr-none">
        <br><br>
         <h4><img src="modules/core/client/img/customimages/site_logo.png" style="margin-bottom:10px"> <strong>주식회사 잡콜미</strong></h4>
           <p><b>사업장 소재</b><br>논현로 27길 39 서초구 서울 대한민국 06746<br><a ui-sref="about.contact">고객센터<br>admin@outsourcingok.com</a><br><a class="Footer-link" ui-sref="about.contact">투자제휴<br>admin@outsourcingok.com</a></p>
        </div>
    </div>
  <br><br><br><br><br><br>
  </div>



</section>
