<section ui-view autoscroll="true" ng-controller="ProjectsController">


<dir style="padding: 20px 20px 10px 20px">
	<center>
		  <h1 style="font-size: 60px; font-weight: bold;">Press Releases</h1>
	</center>
</dir>

  <ul class="nav nav-tabs nav-justified" style="width: 100%">
    <li class="active"><a data-toggle="tab" href="#2017">2017</a></li>
    	<li><a data-toggle="tab" href="#2016">2016</a></li>
	   <li><a data-toggle="tab" href="#2015">2015</a></li>
	   <li><a data-toggle="tab" href="#2014">2014</a></li>
	   <li><a data-toggle="tab" href="#2013">2013</a></li>
	   <li><a data-toggle="tab" href="#2012">2012</a></li>
	   <li><a data-toggle="tab" href="#2011">2011</a></li>
	   <li><a data-toggle="tab" href="#2010">2010</a></li>
	   <li><a data-toggle="tab" href="#2009">2009</a></li>
  </ul>

  <div class="container tab-content">
   
    <div id="2017" class="tab-pane fade in active">
      <center><h1 class="heading1">2017</h1> </center>  
	    <hr>
	     <blockquote class="text-primary">25th April, 2017</blockquote><br><br>
	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                  <br><br><br>
	     <blockquote class="text-primary">15th February, 2017</blockquote><br><br>
	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
   </div>

<!-- 2016 -->

      <div id="2016" class="tab-pane fade">
        <center><h1 class="heading1">2016</h1> </center>  
  	    <hr>
  	     <blockquote class="text-primary">25th April, 2016</blockquote><br><br>
  	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
  	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
  	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                    <br><br><br>
  	     <blockquote class="text-primary">15th February, 2016</blockquote><br><br>
  	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
  	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
  	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
     </div>

     <!-- 2015 -->

           <div id="2015" class="tab-pane fade">
             <center><h1 class="heading1">2015</h1> </center>  
       	    <hr>
       	     <blockquote class="text-primary">25th April, 2015</blockquote><br><br>
       	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
       	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
       	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                         <br><br><br>
       	     <blockquote class="text-primary">15th February, 2017</blockquote><br><br>
       	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
       	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
       	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
          </div>
<!-- 2014 -->

                <div id="2014" class="tab-pane fade">
                  <center><h1 class="heading1">2014</h1> </center>  
            	    <hr>
            	     <blockquote class="text-primary">25th April, 2014</blockquote><br><br>
            	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
            	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
            	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                              <br><br><br>
            	     <blockquote class="text-primary">15th February, 2014</blockquote><br><br>
            	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
            	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
            	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
               </div>
 <!-- 2013 -->
     <div id="2013" class="tab-pane fade">
       <center><h1 class="heading1">2013</h1> </center>  
 	    <hr>
 	     <blockquote class="text-primary">25th April, 2013</blockquote><br><br>
 	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
 	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
 	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                   <br><br><br>
 	     <blockquote class="text-primary">15th February, 2013</blockquote><br><br>
 	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
 	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
 	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
    </div>

    <!-- 2012 -->
        <div id="2012" class="tab-pane fade">
          <center><h1 class="heading1">2012</h1> </center>  
    	    <hr>
    	     <blockquote class="text-primary">25th April, 2012</blockquote><br><br>
    	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
    	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                      <br><br><br>
    	     <blockquote class="text-primary">15th February, 2012</blockquote><br><br>
    	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
    	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
       </div>

       <!-- 2011 -->

           <div id="2011" class="tab-pane fade">
             <center><h1 class="heading1">2011</h1> </center>  
       	    <hr>
       	     <blockquote class="text-primary">25th April, 2011</blockquote><br><br>
       	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
       	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
       	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                         <br><br><br>
       	     <blockquote class="text-primary">15th February, 2011</blockquote><br><br>
       	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
       	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
       	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
          </div>

          <!-- 2010 -->
        <div id="2010" class="tab-pane fade">
          <center><h1 class="heading1">2010</h1> </center>  
    	    <hr>
    	     <blockquote class="text-primary">25th April, 2010</blockquote><br><br>
    	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
    	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                      <br><br><br>
    	     <blockquote class="text-primary">15th February, 2010</blockquote><br><br>
    	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
    	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
       </div>
    <!-- 2009 -->
        <div id="2009" class="tab-pane fade">
          <center><h1 class="heading1">2009</h1> </center>  
    	    <hr>
    	     <blockquote class="text-primary">25th April, 2009</blockquote><br><br>
    	     <a href="#" target="_blank">OutSoucingOK wins 2 Golden Awards in E-commerce and Innovative Management categories at the APAC Stevies</a><br><br>
    	     <p>SYDNEY: OutSoucingOK.com reinforces global leadership in freelancing and crowdsourcing with 2 Gold Awards and 3 Bronze Awards in the 2017 Asia-Pacific Stevie Awards.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/2017AsiaPacificStevies.pdf">Download full story in PDF format.</a>
                                      <br><br><br>
    	     <blockquote class="text-primary">15th February, 2009</blockquote><br><br>
    	     <a href="#" target="_blank">Top 10 In-Demand Service-Businesses in 2017</a><br><br>
    	     <p>SYDNEY: The start of each year brings optimism to many. It is a time when numerous people set resolutions to change their lives for the better, and career changes are often at the top of these resolution lists. Now that the new year festivities have faded and the reality of everyday life sinks in, OutSoucingOK.com, the world's largest freelancing and crowdsourcing marketplace, has taken this opportunity to put together a list of service-based business ideas for skilled professionals. In-demand and online services can now easily open up opportunities for skilled professionals to broaden their goals and kickstart a new business in 2017.</p>
    	     <a class="press-action" href="https://s3.amazonaws.com/press.freelancer.com/Top10In-DemandService-Businessesin2017.pdf">Download full story in PDF format.</a>
       </div>
       
 </div>

  <!-- chatWindow -->
 <div  ng-show="authentication.user">
   <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
 </div>
 
</section>


 