<section ng-controller="ProjectsController" class="container" >

<!-- <div style="background-color:#F0F0F0; padding: 20px;"> -->
<h1 class="Sitemap-urlGroupTitle">Sitemap</h1>

<div class="sitemapsetting">
      <h2 class="Sitemap-urlGroupTitle">directories</h2>
      <div class="row">
        <dir class="col-md-3">
          <a href="#">OutsourcingOk clients</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">Jobs</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">Categories</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">Work</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">All Projects</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">All Articles</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">All Users</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">Outsourcing</a>
        </dir>
        <dir class="col-md-3">
          <a href="#">Recent Projects</a>
        </dir>
      </div>
      <h2 class="Sitemap-urlGroupTitle">Categories</h2>
      <div class="row">
       <dir class="col-md-3">
         <a href="#">Data Entry</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Internet Marketing</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Website Developers</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Translators</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Copywriting</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Graphic Designers</a>
       </dir>
       <dir class="col-md-3">
         <a href="#">Mobile App Developers</a>
       </dir>
      </div>


      <h2 class="Sitemap-urlGroupTitle">Hire</h2>
      <div class="row">
         <dir class="col-md-3">
           <a href="#">Data Entry</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Graphic Design</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Logo Design</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Web Design</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Web Developer</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Translation</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Internet Marketing</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Article Writers</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Wordpress</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Bulk Email Marketing</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">PHP</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Android</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Software Development</a>
          </dir>
         <dir class="col-md-3">
           <a href="#">iPhone Developers</a>
         </dir>
        <dir class="col-md-3">
           <a href="#">Photography</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Videography</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Cleaning</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Copywriting</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">SEO</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Virtual Assistant</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Telemarketers</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">See All Skills</a>
         </dir>
     </div>
    
    <h2 class="Sitemap-urlGroupTitle">Network</h2>
       <div class="row">
         <dir class="col-md-3">
           <a href="#">Projects</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Contests</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">OutSoucingOK Local</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Membership</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Community</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Experts</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Showcase</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">About us</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">How it Works</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Fees & Charges</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Get Support</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Contact Us</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Team</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Mobile App</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Desktop App</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Developers</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Security</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Affiliate Program</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Investor</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Careers</a>
         </dir>
         <dir class="col-md-3">
           <a href="#">Merchandise</a>
         </dir>
      </div>
  </div>

   <!-- chatWindow -->
  <div  ng-show="authentication.user">
    <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
  </div>
  
</section>
