
<section ng-controller="ProfilesController">
 <!--  <div ng-include="vm.search"></div> -->
 <br><br>
<div class="row">
    <div class="col-xs-12 career-img">
    <br><br><br><br><br><br>
        <h1 class="text-center" style="color:#fff;"><strong> Build products that change lives</strong></h1>
       <h3 class="text-center" style="color:#fff;">Start an exciting career with OutSoucingOK.com, a data-driven and product-focused technology company where every employee directly influences, impacts, and builds the business.</h3>
       <br><br>
       <h2 class="text-center"><a class="btn btn-lg btn-success" href="#">Browse Our Careers</a></h2>
        <br><br><br><br><br><br><br><br>

      </div>
  </div>
  <br><br>
      <div class="">
        <br>
        <div class="row ">
          <h2 class="text-center"><strong>Expand our global marketplace</strong></h2>
          <div class="col-xs-offset-2 col-xs-8 bordortop_styling thumbnail ">
              <h4 style="line-height: 25px;">Our people are the best in the world and are at the centre of building and growing our marketplace. We come from a range of backgrounds, we have a range of skills, we work on big problems and small ones, and we work with a range of programming languages, platforms, and technologies. We are a meritocracy where initiative, innovation, and results are respected.</h4>
          </div>
          <br><br>
        </div>
        <div class="bordortop_styling thumbnail">
        <br>  <br>
          <ul class="list-inline ">
            <li class="companyValues">
                <span class="text-success" ><strong>Take Charge</strong></span>
            </li>
            <li class="companyValues ">
                <span class="text-success" ><strong>Continually Improve</strong></span>
            </li>
            <li class="companyValues">
                <span class="text-success" ><strong>Be Data Driven</strong></span>
            </li>
            <li class="companyValues ">
                <span class="text-success" ><strong>Be The Best &amp; Hire The Best</strong></span>
            </li>
            <li class="companyValues ">
                <span class="text-success" ><strong>Change Lives</strong></span>
            </li>
        </ul>
        </div>
        
        <div class="row ">
          <h2 class="text-center"><strong>Love your job</strong></h2>
          <div class="col-xs-offset-2 col-xs-8 bordortop_styling thumbnail">
              <h4 style="line-height: 25px;">People work with us for different reasons - not just the usual tech company perks. People work with us for the challenge, our scale, our open-source technology, the push to constantly up-skill, and the direct impact you will have on our business and its products.</h4>
              <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
          </div>
        </div>
      </div>
      <!-- tab start -->
   <uib-tabset class="m-l-lg">

    <uib-tab heading="Pakistan (22)">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                <h3 class="text-info"><strong>Linux DevOps Engineer</strong></h3>
                <hr> 
                <h4>JOBCALLME.COM</h4>
                <p>As a member of the OutSoucingOK infrastructure team, you'll be working side-by-side with software engineers to design and deliver mission critical services and systems.</p>
                  <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              <br>
              </div>
            </div>  
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                <h3 class="text-info"><strong>Software Engineer</strong></h3>
                <hr> 
                <h4>JOBCALLME.COM</h4>
                <p>We're looking for software engineers for our Sydney office. If you excel at architecting web applications at scale, enjoy the challenges of writing optimized lightning fast SQL for massive data sets </p>
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              <br>
              </div>
            </div>    
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
              <h3 class="text-info"><strong>Data Scientist</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>The growth team is a multi-disciplinary team consisting of data scientists, engineers, mathematicians, statisticians, physicists and product managers. We are currently expanding our growth team and are seeking Data Scientists. </p>
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Front End Developer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>We're looking for passionate front end developers to build new site features as well as maintain our existing HTML/CSS codebase.As a member of the OutSoucingOK design team you'll be creating the look </p> 
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div> 
              <br>
              </div>
            </div>  
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Digital Designer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>As a member of the OutSoucingOK design team you'll be creating the look and feel of one of the most recognised and fastest growing sites with an outstanding history and enormous future. </p>
                 <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
                <br>  
              </div>
            </div>    
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Senior User Experience (UX) Designer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>We are now looking for a Senior User Experience (UX) Designer that lives and breathes everything technology related and has keen experience in usability, research </p>
                 <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
                <br>
              </div>
            </div> 
          </div>
        </div>
    </uib-tab>

  <uib-tab heading="Vancouver (3)">
    <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Front End Developer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>We're looking for passionate front end developers to build new site features as well as maintain our existing HTML/CSS codebase.As a member of the OutSoucingOK design team you'll be creating the look </p> 
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div> 
              <br>
              </div>
            </div>  
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Digital Designer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>As a member of the OutSoucingOK design team you'll be creating the look and feel of one of the most recognised and fastest growing sites with an outstanding history and enormous future. </p>
                 <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
                <br>  
              </div>
            </div>    
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                 <h3 class="text-info"><strong>Senior User Experience (UX) Designer</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>We are now looking for a Senior User Experience (UX) Designer that lives and breathes everything technology related and has keen experience in usability, research </p>
                 <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
                <br>
              </div>
            </div> 
          </div>
        </div>
  </uib-tab>
  <uib-tab heading="Sydney (12)">
    <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                <h3 class="text-info"><strong>Linux DevOps Engineer</strong></h3>
                <hr> 
                <h4>JOBCALLME.COM</h4>
                <p>As a member of the OutSoucingOK infrastructure team, you'll be working side-by-side with software engineers to design and deliver mission critical services and systems.</p>
                  <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              <br>
              </div>
            </div>  
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
                <h3 class="text-info"><strong>Software Engineer</strong></h3>
                <hr> 
                <h4>JOBCALLME.COM</h4>
                <p>We're looking for software engineers for our Sydney office. If you excel at architecting web applications at scale, enjoy the challenges of writing optimized lightning fast SQL for massive data sets </p>
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              <br>
              </div>
            </div>    
            <div class="col-xs-12 col-md-4">
             <br>
              <div class=" profile_container bordortop_styling p-l-sm p-r-sm">
              <h3 class="text-info"><strong>Data Scientist</strong></h3>
                <hr> 
               <h4>JOBCALLME.COM</h4>
                <p>The growth team is a multi-disciplinary team consisting of data scientists, engineers, mathematicians, statisticians, physicists and product managers. We are currently expanding our growth team and are seeking Data Scientists. </p>
                <div class="text-center"> 
                <a href="#" class="btn btn-small custom">More About This job</a> 
              </div>
              </div>
            </div> 
          </div>
        </div>
  </uib-tab>

</uib-tabset>

 <!-- chatWindow -->
<div  ng-show="authentication.user">
  <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
</div>

</section>
