<section ng-controller="ProjectsController">
   <!-- part 1 -->
  
      <div class="row"> 
    	  <div class="col-xs-12 p-l-none p-r-none">
        	 <img class="img-responsive" width="100%" src="modules/core/client/img/customimages/team01.PNG">
     	 </div>
      </div>
<br><br>
  <!-- part 2 -->
   <div class="container bordortop_styling thumbnail ">

  	 <h2 class="p-l-sm"><strong>DIRECTORS</strong></h2>
  	 <hr>
  	 <br><br>
  <div class="row ">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="about-team-topborder"> 
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center " src="modules/core/client/img/customimages/team001.PNG" alt="doodle"> 
          </a> 
          <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
          	<p><b>Chief Executive Officer & Chairman</b><br>
          	BE(Hons 1)BSc(Hons 1)DGipAppFin MAppFin MSEE<br>(Stanford)GAICD SEP FIEAust</p>
          	<h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
          </center> 
        </div>
    </div> 

    <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="about-team-topborder">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center " src="modules/core/client/img/customimages/team002.PNG" alt="doodle"> 
          </a> 
         
          <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
        	  <b><p>Deputy Chief Financial Officer</p></b>
         	 <p>M.Fin(INSEAD)LLB(Hons 1)B.Ec F.Fin GAICD</p>
         	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
          </center>
        </div>
    </div> 

    <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="about-team-topborder">
            <a href="#" class="p-b-sm">
            	<img class="img-responsive" width="100%" class="text-center " src="modules/core/client/img/customimages/team003.PNG" alt="doodle"> 
            </a> 
           
        	<center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
         	 <b><p>Director of Growth</p></b>
         	 <p>S.Eng, MSc(Computer Science)</p>
         	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
          </center>
       </div>
    </div>
    </div><!-- 1st row end -->
    <hr>

 	<h2>SENIOR MANAGEMENT</h2>
  	 <hr>

  	 <!-- PART 2 -->

  	 <div class="row">
  	   <div class="col-xs-12 col-sm-6 col-md-4 ">
  	       <div class="about-team-topborder">
  	         <a href="#" class="p-b-sm">
  	           <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team004.PNG" alt="doodle"> 
  	         </a> 
  	         <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
  	         	<p><b>Chief Executive Officer & Chairman</b><br>
  	         	BE(Hons 1)BSc(Hons 1)DGipAppFin MAppFin MSEE<br>(Stanford)GAICD SEP FIEAust</p>
  	         	<h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
  	         </center> 
  	       </div>
  	   </div> 

  	   <div class="col-xs-12 col-sm-6 col-md-4 ">
  	       <div class="about-team-topborder">
  	         <a href="#" class="p-b-sm">
  	           <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team002.PNG" alt="doodle"> 
  	         </a> 
  	        
  	         <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
  	       	  <b><p>Deputy Chief Financial Officer</p></b>
  	        	 <p>M.Fin(INSEAD)LLB(Hons 1)B.Ec F.Fin GAICD</p>
  	        	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
  	         </center>
  	       </div>
  	   </div> 

  	   <div class="col-xs-12 col-sm-6 col-md-4 ">
  	       <div class="about-team-topborder">
  	           <a href="#" class="p-b-sm">
  	           	<img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team003.PNG" alt="doodle"> 
  	           </a> 
  	          
  	       	<center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
  	        	 <b><p>Director of Growth</p></b>
  	        	 <p>S.Eng, MSc(Computer Science)</p>
  	        	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
  	         </center>
  	      </div>
  	   </div>
  	   </div>
<! -- part 3 -->
<br>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="about-team-topborder">
        <a href="#" class="p-b-sm">
          <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team004.PNG" alt="doodle"> 
        </a> 
         <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
  	         	<p><b>Chief Executive Officer & Chairman</b><br>
  	         	BE(Hons 1)BSc(Hons 1)DGipAppFin MAppFin MSEE<br>(Stanford)GAICD SEP FIEAust</p>
  	         	<h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
  	         </center> 
      </div>
  </div> 

  <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="about-team-topborder">
        <a href="#" class="p-b-sm">
          <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team002.PNG" alt="doodle"> 
        </a> 
       
        <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
      	  <b><p>Deputy Chief Financial Officer</p></b>
       	 <p>M.Fin(INSEAD)LLB(Hons 1)B.Ec F.Fin GAICD</p>
       	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
        </center>
      </div>
  </div> 

  <div class="col-xs-12 col-sm-6 col-md-4 ">
      <div class="about-team-topborder">
          <a href="#" class="p-b-sm">
          	<img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team003.PNG" alt="doodle"> 
          </a> 
         
      	<center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
       	 <b><p>Director of Growth</p></b>
       	 <p>S.Eng, MSc(Computer Science)</p>
       	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
        </center>
     </div>
  </div>
  </div>

  <!-- part 4 -->
<br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="about-team-topborder">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team004.PNG" alt="doodle"> 
          </a> 
           <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
  	         	<p><b>Chief Executive Officer & Chairman</b><br>
  	         	BE(Hons 1)BSc(Hons 1)DGipAppFin MAppFin MSEE<br>(Stanford)GAICD SEP FIEAust</p>
  	         	<h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
  	         </center> 
        </div>
    </div> 

    <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="about-team-topborder">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team002.PNG" alt="doodle"> 
          </a> 
         
          <center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
        	  <b><p>Deputy Chief Financial Officer</p></b>
         	 <p>M.Fin(INSEAD)LLB(Hons 1)B.Ec F.Fin GAICD</p>
         	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
          </center>
        </div>
    </div> 

    <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="about-team-topborder">
            <a href="#" class="p-b-sm">
            	<img class="img-responsive" width="100%" class="text-center" src="modules/core/client/img/customimages/team003.PNG" alt="doodle"> 
            </a> 
           
        	<center><b><h4 class="p-l-md">Oushomo Juya</h4></b>
         	 <b><p>Director of Growth</p></b>
         	 <p>S.Eng, MSc(Computer Science)</p>
         	 <h3 class="p-l-md"><button class="btn btn-info">Read More</button></h3> 
          </center>
       </div>
    </div>
    </div>
    <br><br>
    </div> <!-- container end -->

     <!-- chatWindow -->
    <div  ng-show="authentication.user">
      <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
    </div>

</section>
