<section ui-view autoscroll="true" ng-controller="ProjectsController">
  <h1 class="PageTestimonial-title" style="margin-top:50px;">Startups <span class="PageTestimonial-title-accent">love</span> OutSourcingOK</h1>
  <h2 class="PageTestimonial-subTitle">
              Some of the most promising tech startups are using OutSourcingOK every day to build their products and help run
                  their operations. But don't take our word for it, here is what some of our customers had to say:
          </h2>
  <div >
    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="Testimonial">
        <div class="Testimonial-header">
          <div class="Testimonial-header-inner">
            <a href="http://www.icracked.com/" class="Testimonial-logo Testimonial-logo--icracked">
              <span class="is-accessibly-hidden">icracked</span>
            </a>
          </div>
        </div>
        <div class="Testimonial-content">
          <div class="Testimonial-content-inner">
            <span class="Testimonial-avatar Testimonial-avatar--icracked"></span>
            <p class="Testimonial-quote">
              "With a lot of the larger design and media projects we have that don't want to weigh our in-house developers with, OutSourcingOK came through in the clutch! Getting any project you need finished is extremely simple and worry-free with OutSourcingOK, as they
              provide every form of insurance that you'll find exactly who or what you're looking for to get the job done. Thanks OutSourcingOK!"
              <br><br> Paul Iliya
              <br> iCracked (YC '12)
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-5 col-sm-6 col-xs-12">
      <div class="Testimonial">
        <div class="Testimonial-header">
          <div class="Testimonial-header-inner">
            <a href="http://www.icracked.com/" class="Testimonial-logo Testimonial-logo--icracked">
              <span class="is-accessibly-hidden">icracked</span>
            </a>
          </div>
        </div>
        <div class="Testimonial-content">
          <div class="Testimonial-content-inner">
            <span class="Testimonial-avatar Testimonial-avatar--icracked"></span>
            <p class="Testimonial-quote">
              "With a lot of the larger design and media projects we have that don't want to weigh our in-house developers with, OutSourcingOK came through in the clutch! Getting any project you need finished is extremely simple and worry-free with OutSourcingOK, as they
              provide every form of insurance that you'll find exactly who or what you're looking for to get the job done. Thanks OutSourcingOK!"
              <br><br> Paul Iliya
              <br> iCracked (YC '12)
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1">

    </div>

  </div>

   <!-- chatWindow -->
  <div  ng-show="authentication.user">
    <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
  </div>
  
</section>