<div ui-view autoscroll="true" ng-controller="AuthenticationController">
   <!--  First Column start -->
   <div class="container-fluid registrtn-container">
      <div class="row">
         <div class="col-xs-12 col-md-6 information2 hidden-xs">
            <div class="logo">
               <h2 class="main_heading" style="padding-top:150px">최고의 프리랜서가 비니즈니 성장에 도움을 드립니다.<br>
			   고정금액, 시간제로 모든 프로젝트와 콘테스트를 누구나 지원할 수 있습니다.
               </h2>
			</div>
			   <h2 class="main_heading"><span style="color: #fff; font-weight: 700; font-size: 20px;">프로필 작성하지 않으시면 일주일 후 회원 자동 삭제됩니다</span></h2>  

			   <h2 class="main_heading"><span style="color: #37526a; font-weight: 700; font-size: 20px;" translate="optmizeGoogle"></span></h2>        
         </div>
         <!-- End: First Column -->
         <div class="col-xs-12 col-md-6 form-section">
            <div class="registrtn-container">
               <div class="hidden-xs text-right alrdy p-t-md">
                  <p translate="alreadyAccount">? <a ui-sref="authentication.signin" class="logn" translate="login"></a> </p>
               </div>
            </div>
           
            <!-- custom code second colum-->
            <div class="col-xs-12 col-md-offset-2 col-md-8 login_form">
			<!-- 
			<div class="logn-cal">
                           <h4>아웃소싱오케이에 오신것을 환영 합니다.</h4>
                        </div>
                -->
                  <!-- <uib-tab index="$index + 1" ng-repeat="user in users" heading="{{user.title}}" disable="user.disabled"> -->
                     <!-- <div ng-if=" user.value == 'company' "> -->
                     <div >
					    <div class="logn-cal">
                           <h4>&nbsp;</h4>
                        </div>                        
                        <div class="col-xs-12 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-10 signup-form">
						   <div class="logn-cal text-center" style="background-color: #37526a;height:45px;color:#fff;padding-top:2px;border-radius: 3px;margin-bottom:30px;">
							   <h4 class="mobile-view-prjct" translate="loginOutSourcing"></h4>
							</div>
							  
                           <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                              <fieldset>
                                 <div class="form-group" show-errors>
                                    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="아이디를 입력 하십시오" required>
                                    <div ng-messages="userForm.username.$error" role="alert">
                                       <p class="help-block error-text" ng-message="required" translate="userNameRequired">.</p>
                                    </div>
                                 </div>
                                 <div class="form-group" show-errors>
                                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="비밀번호를 입력 하십시오" required>
                                    <div ng-messages="userForm.password.$error" role="alert">
                                       <p class="help-block error-text" ng-message="required" translate="passwordRequired">.</p>
                                    </div>
                                 </div>
                                 <div class="forgot-password">
                                    <a ui-sref="password.forgot" ng-click="forgotPass()"><img src="modules/users/client/img/basic/passwd.png" alt=""><span translate="forgetPassword"></span>?</a>
                                 </div>
                                 <!-- <div vc-recaptcha class="captcha" key="'6Lc-GC4UAAAAABe1SMECofBM4Ud4ny--PxNDDkzZ'" 
ng-model="captchaResponse" size="normal" ></div> -->
                                 <p ng-show="captchaResponse==undefined && yourForm.$submitted" class="form-error">Please confirm that you are not a robot</p>

                                 <alert type="danger" ng-show="error" class="text-center text-danger">
                                    <span ng-bind="error"></span>
                                 </alert>
                                 
                                 <div class="text-center form-group">
                                    <button type="submit" class="btn btn-success btn-lg jcm_login" style="background:#83817c;border: 1px solid #83817c;"><span translate="signin"></span></button>
                                 </div>
                                 <div class="form-group">
                                    <i class="fa fa-key lock" aria-hidden="true"></i><span translate="dontAccount"></span>?&nbsp;
                                    <a ui-sref="authentication.signup" class="logn" translate="signup"></a>
                                 </div>
                              </fieldset>
                           </form>

						         <div class="auth_signup hidden-xs hidden-sm">
                              <p class=""><img src="modules/core/client/img/customimages/main_icon10.png" alt="">&nbsp;아웃소싱 오케이는 구글크롬데스크탑으로 최적화됐습니다<br><a href="https://www.google.co.kr/chrome/browser/desktop/index.html" target="_blank"><img src="modules/users/client/img/chrome.png" style="padding-top:5px">&nbsp;&nbsp;다운로드</a></p>
							         <p><img src="modules/core/client/img/customimages/main_icon9.png" alt="">회원님간에 원할한 소통을 위해서 구글 크롬 브라우저를 이용한 실시간 화상 채팅으로 운영됩니다. 현재 IE(인터넷 익스프로러)에서 화상채팅을 이용할 경우 화상 이용은 불가능하며 채팅은 사용 할 수 있으나 다소 불편을 감수 해야 합니다. 회원님의 소중한 재산을 보호하기위해서 구글 크롬 사용을 적극 권장 합니다, 회원님께서 IE(인터넷 익스플로러)에서 구글 크롬을 다운로드 하신경우 바탕화면에 크롬아이콘을 클릭하고 사용하셔야 실시간 화상 채팅이 가능 합니다.</p>							  
                           </div>
						   
                        </div>
                     </div>
                     <!--Individual Login-->
                     <!-- <div ng-if=" user.value == 'individual'">
                        <div class="logn-cal">
                           <h3>Login to OutSourcingOk</h3>
                        </div>
                        <div class="sign-tdy">
                           <a ng-click="callOauthProvider('/api/auth/facebook')"><button  class="btns fbw-login"><i class="fa 
fa-facebook fb-icon"></i>Sign up with Facebook</button></a>
                           <a ng-click="callOauthProvider('/api/auth/google')"><button class="btns glw-login"><i class="fa fa-google 
fb-icon"></i>Sign up with Google</button></a>
                           <br>
                           <h5 class="text-right ors"><span class="top-or">or</span></h5>
                           <span class="clear"></span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-10 signup-form">
                           <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                              <fieldset>
                                 <div class="form-group" show-errors>
                                    <input type="text" id="username" name="username" class="form-control" 
ng-model="credentials.username" placeholder="Username" lowercase required>
                                    <div ng-messages="userForm.username.$error" role="alert">
                                       <p class="help-block error-text" ng-message="required">Username is required.</p>
                                    </div>
                                 </div>
                                 <div class="form-group" show-errors>
                                    <input type="password" id="password" name="password" class="form-control" 
ng-model="credentials.password" placeholder="Password" required>
                                    <div ng-messages="userForm.password.$error" role="alert">
                                       <p class="help-block error-text" ng-message="required">Password is required.</p>
                                    </div>
                                 </div>
                                 <div class="forgot-password">
                                    <a ui-sref="password.forgot" ng-click="forgotPass()">Forgot your password?</a>
                                 </div>
                                 <div vc-recaptcha class="captcha" key="'6Lc-GC4UAAAAABe1SMECofBM4Ud4ny--PxNDDkzZ'" 
ng-model="captchaResponse" size="normal" ></div>
                                 <p ng-show="captchaResponse==undefined && yourForm.$submitted" class="form-error">Please confirm that 
you are not a robot</p>


                                 <alert type="danger" ng-show="error" class="text-center text-danger">
                                    <span ng-bind="error"></span>
                                 </alert>

                                 <div class="text-center form-group">
                                    <button type="submit" class="btn btn-success btn-lg jcm_login">Sign In</button>
                                 </div>
                                 <div class="form-group">
                                    &nbsp;Don't have an account ?&nbsp;
                                    <a ui-sref="authentication.signup" class="logn">Sign up</a>
                                 </div>
                              </fieldset>
                           </form>
                        </div>
                     </div> -->
                     <!--End Login Individual-->
                  
            </div>
         </div>
      </div>
   </div>
</div>
